/* GLOBAL STYLES
======================================================= */

/* Normalize */
*, *:before, *:after {
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 margin: 0;
 }

html {
 font-size: 62.5%;
 }

html, body {
 padding: 0;
 margin: 0;
 height: 100vh;
 min-height: 100%;
 width: 100vw;
 max-width: 100%;
 font-kerning: normal;
 text-rendering: optimizelegibility;
 }

/* Hyperlinks */
a {
 text-decoration: none;
 color: #F00A1E;
 }

a:active, a.active {
 color: #1ABC9C !important;
 }

a:hover, a.active:hover {
 color: #0AA1F0 !important;
 }

/** PAGE STRUCTURE **/
.page-container {
 display: flex;
 flex-flow: row nowrap;
 height: 100vh;
 overflow: hidden;
 }

.page-content {
 width: 100%;
 height: 100vh;
 margin: 0;
 padding: 0;
 background: #1C1E26;
 overflow-y: scroll;
 scroll-behavior: smooth;
 scroll-snap-type: y mandatory;
 scroll-snap-type: mandatory;
 scroll-snap-points-y: repeat(100vh);
 }

.page-content::-webkit-scrollbar {
 visbility: hidden;
 display: none;
}

.section-container {
 scroll-snap-align: center;
}

section, header {
 display: flex;
 flex-flow: row nowrap;
 align-items: center;
 height: 100vh;
 margin: 0;
 padding: 10vh 10vw 0 10vw;
 }

.section-links {
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: flex-end;
 position: relative;
 min-width: 15vw;
 max-width: 15vw;
 height: 70vh;
 padding: 0;
 list-style-type: none;
}

.section-links:after {
 content:'';
 display: inline-flex;
 position: absolute;
 right: -19%;
 width: 0;
 height: 70vh;
 border: .5px dotted #fff;
 }

.section-content {
 display: flex;
 position: relative;
 flex-flow: row nowrap;
 align-items: flex-start;
 justify-content: flex-start;
 height: 70vh;
 width: 55vw;
 overflow-x: auto;
 overflow-y: auto;
 scroll-behavior: smooth;
 scroll-snap-type: x mandatory;
 scroll-snap-type: mandatory;
 scroll-snap-points-x: repeat(55vw);
}

.section-content::-webkit-scrollbar {
 width: .5rem;
}

.section-content::-webkit-scrollbar-track {
 background-color: #484848;
}

.section-content::-webkit-scrollbar-thumb {
 background-color: #A9A9A9;
}

.section-content::-webkit-scrollbar:horizontal {
 visbility: hidden;
 display: none;
}

.content-block {
 display: flex;
 flex-flow: column nowrap;
 min-width: 55vw;
 max-width: 55vw;
 margin: auto;
 padding-left: 5vw;
 scroll-snap-align: center;
}

/** NAVIGATION **/
nav {
 display: flex;
 min-height: 10vh;
 max-height: 10vh;
 width: 100%;
 align-items: center;
 position: fixed;
 padding: 2.5vh 10vw 2.5vh 10vw;
 background: #1C1E26;
 z-index: 1;
 transition: background .25s;
 }

nav.scrolled {
 background: #fff;
}

nav h1 {
 display: none;
 }

nav.scrolled h1 {
 display: flex;
 justify-content: flex-end;
 color: #1C1E26;
 min-width: 15vw;
 max-width: 15vw;
}

nav.scrolled h1 a {
 color: #1ABC9C;
}

nav.scrolled h1 span.brackets {
 color: #1C1E26;
}

nav ul {
 display: block;
 float: left;
 width: 100%;
 padding: 0 0 0 20vw;
 list-style-type: none;
 }

nav.scrolled ul {
 padding-left: 5vw;
}

nav ul li {
 display: block;
 float: left;
 padding: 0 2.5rem;
 border-right: .5px solid #FFF;
 }

nav ul li:last-of-type {
 border: none;
}

nav ul li a {
 color: #fff;
}

nav.scrolled ul li {
 border-color: #1C1E26;
}

nav.scrolled ul li a {
 color: #1C1E26;
}

nav ul li:first-of-type {
 padding-left: 0vw;
}

nav ul li:last-of-type {
 padding-right: 0vw;
 border: none;
 }

nav ul li a {
 display: block;
 font-size: 1.4rem;
 font-family: 'ff-tisa-sans-web-pro', sans-serif;
 font-weight: 800;
 font-style: initial;
 text-transform: uppercase;
 letter-spacing: .05rem;
 text-align: right;
 }

/** CONTENT **/

/* header */
h1 {
 display: flex;
 flex-flow: row nowrap;
 margin: 0;
 padding: 0;
 font-family: 'mr-eaves-sans', sans-serif;
 font-weight: 600;
 font-size: 4.5rem;
 letter-spacing: .25rem;
 text-transform: uppercase;
 color: #1ABC9C;
}

h1 span.initials {
 padding: 0 1rem;
 }

h1 span.brackets {
 font-family: 'crete', serif;
 font-weight: 400;
 font-size: 4.5rem;
 font-style: normal;
 color: #FFF;
 }

h2 {
 position: relative;
 display: flex;
 flex-flow: column nowrap;
 padding: 0;
 font-family: 'mr-eaves-sans';
 color: #fff;
 font-size: 4rem;
 line-height: 4rem;
 text-transform: uppercase;
 font-weight: 600;
 }

h2:after {
 content:attr(after);
 position: absolute;
 top: 110%;
 display: block;
 font-family: 'baskerville-urw', serif;
 font-style: italic;
 font-weight: 400;
 font-size: 3rem;
 line-height: 3rem;
 text-transform: lowercase;
 color: #1ABC9C;
 }

/* general content */
.section-links a.sub {
 font-family: 'ff-tisa-sans-web-pro', sans-serif;
 font-size: 1.2rem;
 line-height: 2.4rem;
 font-weight: 400;
 text-transform: uppercase;
 letter-spacing: .05rem;
 color: #fff;
}

.sub.active, .section-links a.sub.active {
 color: #1ABC9C;
 }

.section-links a.sub:hover, h3:hover, h3.sub.active:hover   {
 color: #0AA1F0;
}

h3 {
 position: absolute;
 top: 0;
 right: 24%;
 margin: 0;
 padding: 0;
 font-family: 'mr-eaves-sans', sans-serif;
 font-weight: 900;
 font-size: 2.2rem;
 line-height: 7.5rem;
 letter-spacing: .1rem;
 text-transform: uppercase;
 transform: rotate(-90deg);
 transform-origin: top right;
 color: #fff;
 white-space: nowrap;
 }

.big-body {
 padding: 0 0 0 0;
 font-family: 'ff-tisa-web-pro', serif;
 font-size: 2.5rem;
 font-weight: 300;
 line-height: 3.75rem;
 color: #A9A9A9;
}

h4 {
 font-family: 'mr-eaves-sans', sans-serif;
 font-weight: 800;
 font-size: 3rem;
 line-height: 3rem;
 letter-spacing: .1rem;
 text-transform: uppercase;
 color: #1ABC9C;
 }

h4:after {
 content:attr(after);
 display: flex;
 margin: 0 0 2rem 0;
 font-weight: 400;
 font-size: 3rem;
 text-transform: none;
 color: #A9A9A9;
 }

h5 {
 margin: 0 0 3rem 0;
 padding: 0;
 line-height: 3.75rem;
 font-size: 3rem;
 font-family: 'baskerville-urw', serif;
 font-weight: 400;
 font-style: italic;
 max-width: 500px;
 color: #FFF;
 }

p {
 max-width: 500px;
 margin-bottom: 1rem;
 line-height: 2.7rem;
 font-size: 1.8rem;
 font-weight: 300;
 font-family: 'ff-tisa-web-pro', serif;
 color: #A9A9A9;
 }

p:last-of-type {
 margin-bottom: 0;
}

p strong {
 font-weight: 500;
 color: #FFF;
}

#home .section-content:after {
 content: '\2B63';
 position: absolute;
 bottom: 0;
 display: flex;
 font-size: 3.5rem;
 color: white;
}

/* collapsible tabs */

label {
 margin: 1em 0 .25em 0;
 font-size: 1.2rem;
 font-family: 'ff-tisa-sans-web-pro';
 font-weight: 400;
 color: #F00A1E;
 line-height: 2.4rem;
 text-transform: uppercase;
 letter-spacing: .05rem;
}

label:hover {
 color: #0AA1F0;
}

.tab {
 position: relative;
 width: 100%;
}

.tab input {
 position: absolute;
 opacity: 0;
 z-index: -1;
}

.tab label {
 position: relative;
 display: block;
 cursor: pointer;
}

.tab-content {
 display: none;
}

.tab input:checked ~ .tab-content {
 display: block;
}

.tab input + label::before {
 position: absolute;
 font-family: "Roboto";
 font-weight: 700;
 bottom: 0;
 content: "+";
 margin: 0;
 display: inline-block;
 left: -1em;
}

.tab input:checked + label::before {
 content: "-";
}

/* work history & education */
.summary {
 max-width: 500px;
 border-collapse: collapse;
}

.summary span {
 display: block;
}

.summary td {
 border: 0px solid transparent;
 background-clip: padding-box;
 vertical-align: top;
}

.summary tr + tr > td {
 border-top-width: 1.5rem;
}

.summary tr td:first-of-type span:first-of-type {
 font-family: 'Roboto', sans-serif;
 font-size: 1.1rem;
 font-weight: 400;
 text-transform: uppercase;
 letter-spacing: .05rem;
 color: #A9A9A9;
}

.summary tr td:last-of-type {
 padding-left: 1rem;
}

.summary tr td:last-of-type span:first-of-type {
 font-family: 'ff-tisa-web-pro', serif;
 font-size: 2rem;
 line-height: 2rem;
 font-weight: 300;
 color: #D9ACA5;
 margin: 0;
 padding: 0 0 .5rem 0;
}

.summary tr td:last-of-type span:last-of-type {
 font-family: 'ff-tisa-sans-web-pro', sans-serif;
 font-weight: 00;
 font-size: 1.4rem;
 line-height: 1.4rem;
 text-transform: uppercase;
 color: #fff;
}

.summary tr td:last-of-type span:after {
 content:attr(after);
 display: flex;
 margin: 0;
 font-weight: 400;
 font-size: 1.4rem;
 padding: .5rem 0 0 0;
 text-transform: none;
 color: #A9A9A9;
}

.selected-courses, .achievements, .responsibilities {
 line-height: 2.7rem;
 font-size: 1.8rem;
 font-weight: 300;
 font-family: 'ff-tisa-web-pro', serif;
 color: #A9A9A9;
 list-style-type: none;
 padding: 0;
}

.selected-courses li:before, .responsibilities li:before {
 content: '\25A0';
 position: absolute;
 left: -1.3rem;
 font-size: 1rem;
}

.achievements li {
 margin-bottom: 2rem;
}

.achievements li:last-of-type {
 margin: 0;
}

.achievements li p:first-of-type {
 margin: 0;
 padding: 0;
}

/* ANIMATIONS
========================================================== */

/* Landing page fade in */
@keyframes fadeIn {
 from {
  opacity: 0;
  }

 to {
  opacity: 1;
  }
 }

@-webkit-keyframes fadeIn {
 from {
  opacity: 0;
  }

 to {
  opacity: 1;
  }
 }

@-webkit-keyframes fadeIn {
 from {
  opacity: 0;
  }

 to {
  opacity: 1;
  }
 }

@-moz-keyframes fadeIn {
 from {
  opacity: 0;
  }

 to {
  opacity: 1;
  }
 }

@-o-keyframes fadeIn {
 from {
  opacity: 0;
  }

 to {
  opacity: 1;
  }
 }

@keyframes fadeInfadeOut {
 from {
  transform: translateY(0);
  opacity: 0;
  }

 to {
  transform: translateY(10vh);
  opacity: 1;
  }
 }

.section-links h1 {
 animation: fade 2;
 -webkit-animation: fade 2s;
 -moz-animation: fade 2s;
 -o-animation: fade 2s;
}

header .section-links:after {
 animation: fadeIn .5s linear 1s 1 backwards;
 -webkit-animation: fadeIn .5s linear 1s 1 backwards;
 -moz-animation: fadeIn .5s linear 1s 1 backwards;
 -o-animation: fadeIn .5s linear 1s 1 backwards;
}

h2 {
 animation: fadeIn 1s linear 1.2s 1 backwards;
 -webkit-animation: fadeIn 1s linear 1.2s 1 backwards;
 -moz-animation: fadeIn 1s linear 1.2s 1 backwards;
 -o-animation: fadeIn 1s linear 1.2s 1 backwards;
 }

h2:after {
 animation: fadeIn 1s ease-in 2.5s 1 backwards;
 -webkit-animation: fadeIn 1s ease-in 2.5s 1 backwards;
 -moz-animation: fadeIn 1s ease-in 2.5s 1 backwards;
 -o-animation: fadeIn 1s ease-in 2.5s 1 backwards;
 }

nav li {
 animation: fadeIn 1s ease-in 2.5s 1 backwards;
 -webkit-animation: fadeIn 1s ease-in 2.5s 1 backwards;
 -moz-animation: fadeIn 1s ease-in 2.5s 1 backwards;
 -o-animation: fadeIn 1s ease-in 2.5s 1 backwards;
}

/* Blinking arrow */
#home .section-content:after {
 animation: fadeInfadeOut 1.5s ease-in-out 5s 1 backwards;
 -webkit-animation: fadeInfadeOut 1.5s ease-in 5s 1 backwards;
 -moz-animation: fadeInfadeOut 1.5s ease-in 5s 1 backwards;
 -o-animation: fadeInfadeOut 1.5s ease-in 5s 1 backwards;
}