/* GLOBAL STYLES
======================================================= */

/* Normalize */
*, *:before, *:after {
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 margin: 0;
 }

html {
 font-size: 62.5%;
 }

html, body {
 padding: 0;
 margin: 0;
 height: 100vh;
 min-height: 100%;
 width: 100vw;
 max-width: 100%;
 font-kerning: normal;
 text-rendering: optimizelegibility;
 }

/* Hyperlinks */
a {
 text-decoration: none;
 color: #F00A1E;
 }

a:active, a.active {
 color: #1ABC9C !important;
 }

a:hover, a.active:hover {
 color: #0AA1F0 !important;
 }

/** PAGE STRUCTURE **/
.page-container {
 display: flex;
 flex-flow: row nowrap;
 height: 100vh;
 overflow: hidden;
 }

.page-content {
 width: 100%;
 height: 100vh;
 margin: 0;
 padding: 0;
 background: #1C1E26;
 overflow-y: scroll;
 scroll-behavior: smooth;
 scroll-snap-type: y mandatory;
 scroll-snap-type: mandatory;
 scroll-snap-points-y: repeat(100vh);
 }

.page-content::-webkit-scrollbar {
 visbility: hidden;
 display: none;
}

.section-container {
 scroll-snap-align: center;
}

section, header {
 display: flex;
 flex-flow: row nowrap;
 align-items: center;
 height: 100vh;
 margin: 0;
 padding: 10vh 10vw 0 10vw;
 }

.section-links {
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: flex-end;
 position: relative;
 min-width: 15vw;
 max-width: 200px;
 height: 70vh;
 padding: 0;
 list-style-type: none;
 margin-right: 5vw;
 }

.section-links:after {
 content:'';
 display: inline-flex;
 position: absolute;
 right: -19%;
 width: 0;
 height: 70vh;
 border: .5px dotted #fff;
 }

.section-content {
 display: flex;
 position: relative;
 flex-flow: row nowrap;
 align-items: flex-start;
 justify-content: flex-start;
 height: 70vh;
 width: 55vw;
 max-width: 800px;
 overflow: auto;
 scroll-behavior: smooth;
 scroll-snap-type: x mandatory;
 }

.section-content::-webkit-scrollbar {
 visbility: hidden;
 display: none;
 }

.content-block {
 display: flex;
 flex-flow: column nowrap;
 min-width: 100%;
 height: 100%;
 scroll-snap-align: center;
 overflow-y: auto;
 overflow-x: hidden;
 padding-left: 1vw; /* For tab +/- signs*/
 }

*::-webkit-scrollbar {
 width: .5rem;
 }

*::-webkit-scrollbar-track {
 background-color: #484848;
 }

*::-webkit-scrollbar-thumb {
 background-color: #A9A9A9;
 }

.content {
 margin: auto 0;
 }

/** NAVIGATION **/
nav {
 display: flex;
 min-height: 10vh;
 max-height: 10vh;
 width: 100%;
 align-items: center;
 position: fixed;
 padding: 2.5vh 10vw 2.5vh 10vw;
 background: #1C1E26;
 z-index: 100;
 transition: background .25s;
 }

nav.scrolled {
 background: #fff;
}

nav h1 {
 display: none;
 }

nav.scrolled h1 {
 display: flex;
 justify-content: flex-end;
 color: #1C1E26;
 min-width: 15vw;
 max-width: 15vw;
}

nav.scrolled h1 a {
 color: #1ABC9C;
}

nav.scrolled h1 span.brackets {
 color: #1C1E26;
}

nav ul {
 display: block;
 float: left;
 width: 100%;
 padding: 0 0 0 20vw;
 list-style-type: none;
 }

nav.scrolled ul {
 padding-left: 5vw;
}

nav ul li {
 display: block;
 float: left;
 padding: 0 2.5rem;
 border-right: .5px solid #FFF;
 }

nav ul li:last-of-type {
 border: none;
}

nav ul li a {
 color: #fff;
}

nav.scrolled ul li {
 border-color: #1C1E26;
}

nav.scrolled ul li a {
 color: #1C1E26;
}

nav ul li:first-of-type {
 padding-left: 0vw;
}

nav ul li:last-of-type {
 padding-right: 0vw;
 border: none;
 }

nav ul li a {
 display: block;
 font-size: 1.4rem;
 font-family: 'ff-tisa-sans-web-pro', sans-serif;
 font-weight: 800;
 font-style: initial;
 text-transform: uppercase;
 letter-spacing: .05rem;
 text-align: right;
 }

.toggleNav {
 display: none;
}

/** CONTENT **/

/* header */
h1 {
 display: flex;
 flex-flow: row nowrap;
 margin: 0;
 padding: 0;
 font-family: 'mr-eaves-sans', sans-serif;
 font-weight: 600;
 font-size: 4.5rem;
 letter-spacing: .25rem;
 text-transform: uppercase;
 color: #1ABC9C;
}

h1 span.initials {
 padding: 0 1rem;
 }

h1 span.brackets {
 font-family: 'crete', serif;
 font-weight: 400;
 font-size: 4.5rem;
 font-style: normal;
 color: #FFF;
 }

h2 {
 position: relative;
 display: flex;
 flex-flow: column nowrap;
 padding: 0;
 font-family: 'mr-eaves-sans';
 color: #fff;
 font-size: 4rem;
 line-height: 4rem;
 text-transform: uppercase;
 font-weight: 600;
 }

h2:after {
 content:attr(after);
 position: absolute;
 top: 110%;
 display: block;
 font-family: 'baskerville-urw', serif;
 font-style: italic;
 font-weight: 400;
 font-size: 3rem;
 line-height: 3rem;
 text-transform: lowercase;
 color: #1ABC9C;
 }

/* general content */
.section-links a.sub {
 font-family: 'ff-tisa-sans-web-pro', sans-serif;
 font-size: 1.2rem;
 line-height: 2.4rem;
 font-weight: 400;
 text-transform: uppercase;
 letter-spacing: .05rem;
 color: #fff;
}

.sub.active, .section-links a.sub.active {
 color: #1ABC9C;
 }

.section-links a.sub:hover, h3:hover, h3.sub.active:hover   {
 color: #0AA1F0;
}

h3 {
 position: absolute;
 top: 0;
 right: 1%;
 margin: 0;
 padding: 0;
 font-family: 'mr-eaves-sans', sans-serif;
 font-weight: 900;
 font-size: 2.2rem;
 line-height: 0;
 letter-spacing: .1rem;
 text-transform: uppercase;
 transform: rotate(-90deg);
 transform-origin: right;
 color: #fff;
 white-space: nowrap;
 }

.big-body {
 padding: 0 0 0 0;
 font-family: 'ff-tisa-web-pro', serif;
 font-size: 2.5rem;
 font-weight: 300;
 line-height: 3.75rem;
 color: #A9A9A9;
}

h4 {
 font-family: 'mr-eaves-sans', sans-serif;
 font-weight: 800;
 font-size: 3rem;
 line-height: 3rem;
 letter-spacing: .1rem;
 text-transform: uppercase;
 color: #1ABC9C;
 max-width: 500px;
 }

h4:after {
 content:attr(after);
 display: flex;
 margin: 0 0 .5rem 0;
 font-weight: 400;
 font-size: 3rem;
 text-transform: none;
 color: #A9A9A9;
 }

h5 {
 margin: 0 0 3rem 0;
 padding: 0;
 line-height: 3.75rem;
 font-size: 3rem;
 font-family: 'baskerville-urw', serif;
 font-weight: 400;
 font-style: italic;
 max-width: 500px;
 color: #FFF;
 }

p {
 max-width: 500px;
 margin-bottom: 1rem;
 line-height: 2.7rem;
 font-size: 1.8rem;
 font-weight: 300;
 font-family: 'ff-tisa-web-pro', serif;
 color: #A9A9A9;
 }

p:last-of-type {
 margin-bottom: 0;
}

p strong {
 font-weight: 500;
 color: #FFF;
}

/* collapsible tabs */
.tab {
 position: relative;
 width: 100%;
}

.tab input {
 position: absolute;
 opacity: 0;
 z-index: -1;
}

.tab label {
 position: relative;
 display: block;
 cursor: pointer;
 margin: 1em 0 .25em 0;
 font-size: 1.2rem;
 font-family: 'ff-tisa-sans-web-pro';
 font-weight: 400;
 color: #F00A1E;
 line-height: 2.4rem;
 text-transform: uppercase;
 letter-spacing: .05rem;
}

.tab label:hover {
 color: #0AA1F0;
}

.tab input + label::before {
 position: absolute;
 font-family: "Roboto";
 font-weight: 700;
 bottom: 5%;
 content: '\002B';
 margin: 0;
 display: inline-block;
 left: -1em;
}

.tab input:checked + label::before {
 content: '\2212';
}

.tab-content {
 display: none;
}

.tab input:checked ~ .tab-content {
 display: block;
 }

/* portfolio */
.content .thumb {
 margin-bottom: 2rem;
 }

.content .wide {
 max-width: 60%;
 }

.content .tall {
 max-width: 40%;
 }

.lightbox-outer {
 display: none;
 position: fixed;
 z-index: 999;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 margin: auto;
 background: rgba(0,0,0,0.8);
 overflow: auto;
 }

.lightbox-outer:target {
 outline: none;
 display: flex;
 }

.lightbox-inner {
 display: flex;
 margin: auto;
 }

.lightbox-inner img {
 width: 100%;
 height: auto;
 max-width: 100vw;
 max-height: 100vh;
 object-fit: contain;
 }

.mini-gallery {
 display: flex;
 flex-flow: row wrap;
 max-width: 500px;
 }

.mini-gallery a {
 flex-basis: 50%;
 }

.mini-gallery .wide {
 max-width: 90%;
}

/* work history & education */
.summary {
 max-width: 500px;
 border-collapse: collapse;
 }

.summary span {
 display: block;
 }

.summary td {
 border: 0px solid transparent;
 background-clip: padding-box;
 vertical-align: top;
 }

.summary tr + tr > td {
 border-top-width: 1.5rem;
 }

.summary tr td:first-of-type span:first-of-type {
 font-family: 'Roboto', sans-serif;
 font-size: 1.1rem;
 font-weight: 400;
 text-transform: uppercase;
 letter-spacing: .05rem;
 color: #A9A9A9;
 }

.summary tr td:last-of-type {
 padding-left: 1rem;
 }

.summary tr td:last-of-type span:first-of-type {
 font-family: 'ff-tisa-web-pro', serif;
 font-size: 2rem;
 line-height: 2rem;
 font-weight: 300;
 color: #D9ACA5;
 margin: 0;
 padding: 0 0 .5rem 0;
 }

.summary tr td:last-of-type span:last-of-type {
 font-family: 'ff-tisa-sans-web-pro', sans-serif;
 font-weight: 00;
 font-size: 1.4rem;
 line-height: 1.4rem;
 text-transform: uppercase;
 color: #fff;
 }

.summary tr td:last-of-type span:after {
 content:attr(after);
 display: flex;
 margin: 0;
 font-weight: 400;
 font-size: 1.4rem;
 padding: .5rem 0 0 0;
 text-transform: none;
 color: #A9A9A9;
 }

.selected-courses, .achievements, .responsibilities {
 line-height: 2.7rem;
 font-size: 1.8rem;
 font-weight: 300;
 font-family: 'ff-tisa-web-pro', serif;
 color: #A9A9A9;
 list-style-type: none;
 padding: 0;
 }

.selected-courses li:before, .responsibilities li:before {
 content: '\25A0';
 position: absolute;
 left: -1.3rem;
 font-size: .8rem;
 }

.achievements li {
 margin-bottom: 2rem;
 }

.achievements li:last-of-type {
 margin: 0;
 }

.achievements li p:first-of-type {
 margin: 0;
 padding: 0;
 }

/* portfolio
========================================================== */

/* Regular state */
.grid {
 display: grid;
 margin: 0;
 grid: repeat(3, 1fr) / repeat(3, 1fr);
 width: 100%;
 height: 100%;
 position: relative;
 }

.grid-item {
 display: flex;
 width: 100%;
 height: 100%;
 align-items: center;
 justify-content: center;
 transition: .5s ease;
 }

.grid-item input {
 display: none;
 }

.grid-item label {
 height: 100%;
 width: 100%;
 cursor: pointer;
 transition: .5s ease;
 }

.grid-item-contents {
 display: flex;
 flex-flow: row wrap;
 position: relative;
 align-items: center;
 justify-content: center;
 height: 100%;
 }

.grid-item-contents > * {
 z-index: 1;
 }

.grid-item-contents img {
 height: 17.5%;
 max-width: 75%;
 transition: .5s ease;
 filter: grayscale(100%);
 }

.grid-item-contents img.tall {
 width: 67.5%;
 max-height: 75%;
 height: auto;
 }

.grid-item-contents p {
 display: none;
 }

.grid-item-contents a {
 display: none;
 }

/* Hover state */
.grid-item:not(:empty):hover {
 border: .5px dotted #FFF;
 transition: .5s ease;
 }

.grid-item-contents:hover img {
 filter: grayscale(0%);
 }

/* Opened (checked) state */
.grid-item input:checked ~ label {
 display: flex;
 position: absolute;
 left: 1vw;
 top: 0vh;
 max-width: calc(100% - 1vw);
 height: 70vh;
 align-items: center;
 justify-content: center;
 border: .5px dotted #1ABC9C;
 background: #1C1E26;
 transition: ease .5s;
 z-index: 99;
 cursor: initial;
 }

.grid-item input:checked ~ label:after {
 content: '\00D7';
 position: absolute;
 right: 2.5vw;
 top: 2.5vw;
 cursor: pointer;
 color: #F00A1E;
 font-size: 3rem;
 }

.grid-item input:checked ~ label:after:hover {
 color: #0AA1F0;
 }

.grid-item input:checked ~ label .grid-item-contents {
 padding: 20%;
 justify-content: center;
 align-content: center;
 overflow: auto;
 }

.grid-item input:checked ~ label .grid-item-contents img {
 position: static;
 filter: none;
 max-width: initial;
 }

.grid-item input:checked ~ label .grid-item-contents p {
 display: flex;
 position: static;
 justify-content: center;
 width: 100%;
 height: initial;
 color: #A9A9A9;
 margin: 0;
 }

.grid-item input:checked ~ label .grid-item-contents p:first-of-type {
 margin-top: 3rem;
 font-weight: 500;
 color: #FFF;
 }

.grid-item input:checked ~ label .grid-item-contents p:last-of-type {
 font-family: 'Roboto', sans-serif;
 font-size: 1.1rem;
 font-weight: 400;
 text-transform: uppercase;
 letter-spacing: .05rem;
 color: #A9A9A9;
 margin-bottom: 1rem;
 }

.grid-item input:checked ~ label .grid-item-contents a {
 display: initial;
 position: relative;
 width: 100%;
 font-size: 1.2rem;
 font-family: 'ff-tisa-sans-web-pro';
 font-weight: 400;
 color: #F00A1E;
 line-height: 2.4rem;
 text-transform: uppercase;
 letter-spacing: .05rem;
 text-align: center;
 }

.grid-item input:checked ~ label .grid-item-contents a:after {
 content: '\00BB';
 margin-left: .5rem;
 font-size: 1.5rem;
 }

.grid-item:hover input:checked ~ label .grid-item-contents:after {
 display: none;
 }

/* ANIMATIONS
========================================================== */
@media only screen and (min-width: 769px) {
 /* Landing page fade in */
 @keyframes fadeIn {
  from {
   opacity: 0;
   }

  to {
   opacity: 1;
   }
  }

 @-webkit-keyframes fadeIn {
  from {
   opacity: 0;
   }

  to {
   opacity: 1;
   }
  }

 @-webkit-keyframes fadeIn {
  from {
   opacity: 0;
   }

  to {
   opacity: 1;
   }
  }

 @-moz-keyframes fadeIn {
  from {
   opacity: 0;
   }

  to {
   opacity: 1;
   }
  }

 @-o-keyframes fadeIn {
  from {
   opacity: 0;
   }

  to {
   opacity: 1;
   }
  }

 @keyframes fadeInfadeOut {
  from {
   transform: translateY(0);
   opacity: 0;
   }

  to {
   transform: translateY(10vh);
   opacity: 1;
   }
  }

 .section-links h1 {
  animation: fade 2;
  -webkit-animation: fade 2s;
  -moz-animation: fade 2s;
  -o-animation: fade 2s;
 }

 header .section-links:after {
  animation: fadeIn .5s linear 1s 1 backwards;
  -webkit-animation: fadeIn .5s linear 1s 1 backwards;
  -moz-animation: fadeIn .5s linear 1s 1 backwards;
  -o-animation: fadeIn .5s linear 1s 1 backwards;
 }

 h2 {
  animation: fadeIn 1s linear 1.2s 1 backwards;
  -webkit-animation: fadeIn 1s linear 1.2s 1 backwards;
  -moz-animation: fadeIn 1s linear 1.2s 1 backwards;
  -o-animation: fadeIn 1s linear 1.2s 1 backwards;
  }

 h2:after {
  animation: fadeIn 1s ease-in 2.5s 1 backwards;
  -webkit-animation: fadeIn 1s ease-in 2.5s 1 backwards;
  -moz-animation: fadeIn 1s ease-in 2.5s 1 backwards;
  -o-animation: fadeIn 1s ease-in 2.5s 1 backwards;
  }

 nav li {
  animation: fadeIn 1s ease-in 2.5s 1 backwards;
  -webkit-animation: fadeIn 1s ease-in 2.5s 1 backwards;
  -moz-animation: fadeIn 1s ease-in 2.5s 1 backwards;
  -o-animation: fadeIn 1s ease-in 2.5s 1 backwards;
 }
}

/* RESPONSIVE */
@media only screen and (max-width: 1100px) {
 iframe {
  width: 50vw;
  height: calc(50vw * .5625);
  }
 }


@media only screen and (max-width: 1920px) {
 iframe {
  width: 50vw;
  height: calc(50vw * .5625);
  }
 }



@media only screen and (max-width: 769px) {
 .page-content{
  width: 100vw;
  overflow-x: hidden;
  }

 section, header {
  flex-flow: column nowrap;
  padding: 25vw 10vw 10vw 10vw;
  }

 header {
  padding-top: 20vw;
  }

 section {
  padding-top: 30vw;
  }

 .section-links {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  min-width: initial;
  max-width: initial;
  height: initial;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  }

 .section-links:after {
  display: none;
  }

 .section-links li {
  height: 100%;
  }

 .section-links li h3 {
  width: 100%;
  height: 100%;
  text-align: left;
  position: absolute;
  top: initial;
  right: initial;
  transform: none;
  transform-origin: initial;
  }

 .section-links li h3:after {
  content:'';
  display: block;
  position: absolute;
  bottom: 0;
  border: .5px dotted #fff;
  width: 100%;
  }

 .section-links li a.sub {
  display: inline-block;
  position: relative;
  bottom: -150%;
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 1rem;
  padding: 0;
  transition: 0.3s ease;
  overflow: hidden;
  color: #F00A1E;
  background: #F00A1E;
  }

 .section-links li:nth-of-type(2) a.sub {
  margin: 0;
  }

 .section-links li a.sub.active {
  background: #1ABC9C;
  }

 .section-links li a.sub:hover {
  background: #0AA1F0;
  }

 header .section-links {
  display: none;
  }

 .section-content {
  height: 100%;
  width: 100%;
  padding-top: 5vh;
  }

 header .section-content {
  padding-top: 0;
  }

 .content-block {
  padding: 0;
  margin-right: 1vw;
  }

 nav {
  display: block;
  min-height: initial;
  max-height: initial;
  background: #fff;
  padding: 5vw 5vw 5vw 10vw;
  }

 nav h1 {
  display: block;
  padding: 0;
  color: #1ABC9C;
  font-size: 3rem;
  letter-spacing: .1rem;
 }

 nav h1 span.initials {
  padding: 0;
  }

 nav h1 span.brackets {
  font-size: 3rem;
  color: #1C1E26;
  }

 nav ul#navigation {
  display: none;
  float: initial;
  padding: 0;
  }

 nav.scrolled ul {
  padding: 0;
  }

 nav ul li {
  float: initial;
  padding: 0;
  border: none;
  position: relative;
  left: -10vw;
  width: 100vw;
  }

 nav ul li a {
  padding: 5vw 10vw 5vw 0;
  color: #1C1E26;
  vertical-align: middle;
  text-align: right;
  background: #FFF;
  }

 .toggleNav {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5vw 10vw 5vw 0;
  }

 .toggleNav div {
   width: 3rem;
   height: .3rem;
   background: #fff;
   margin: .6rem 0;
   background: #1C1E26;
  }

 .grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 25%);
  }

 .grid-item input:checked ~ label {
  left: 0;
  height: 100%;
  max-width: initial;
  }

 .grid-item input:checked ~ label .grid-item-contents {
  padding: 5%;
  }

 .tab input + label::before {
  position: initial;
  margin-right: .5rem;
  }

 .selected-courses li, .responsibilities li {
  margin-bottom: 1rem;
  }

 .selected-courses li:last-of-type, .responsibilities li:last-of-type {
  margin-bottom: 0;
  }

 .selected-courses li:before, .responsibilities li:before {
  position: relative;
  margin-right: .5rem;
  top: -.25rem;
  left: 0;
  }

 iframe {
  width: 75vw;
  height: calc(75vw * .5625);
  }

 h2:after {
  font-size: 2.5rem;
  }

 h4, h4:after {
  font-size: 2.5rem;
  }

 h5 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  }

 p {
  margin-bottom: 2rem;
  }
 }