/** GLOBAL STYLES **/
*, *:before, *:after {
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 margin: 0;
 }

html {
 font-size: 62.5%;
 }

html, body {
 padding: 0;
 margin: 0;
 height: 100vh;
 min-height: 100%;
 width: 100vw;
 max-width: 100%;
 font-kerning: normal;
 text-rendering: optimizelegibility;
 }

a {
 text-decoration: none;
 color: #F00A1E;
 }

a:hover {
 color: #0AA1F0;
 }

a:active {
 color: #5D80DB;
 }

/** NAVIGATION **/
nav {
 display: flex;
 min-height: 10vh;
 max-height: 10vh;
 width: 100%;
 justify-content: flex-start;
 align-items: center;
 position: fixed;
 padding: 2.5vh 0 2.5vh 30vw;
 background: #1c1e26;
 z-index: 1;
 }

nav.scrolled {
 justify-content: flex-end;
 background: #fff;
 padding: 2.5vh 0 2.5vh 10vw;
}

nav h1 {
 display: none;
 }

nav.scrolled h1 {
 display: flex;
 justify-content: flex-end;
 color: #1c1e26;
 width: 15vw;
}

nav ul {
 display: flex;
 justify-content: center;
 flex-flow: row nowrap;
 padding: 0;
 list-style-type: none;
 }

nav.scrolled ul {
 flex: 1 0 auto;
 padding: 0 0 0 5vw;
 justify-content: flex-start;
}

nav ul li {
 display: flex;
 flex-flow: column wrap;
 padding: 0 1vw;
 border-right: .5px solid #fff;
 }

nav.scrolled ul li {
 border-color: #1c1e26;
}

nav ul li:first-of-type {
 padding-left: 0vw;
}

nav ul li:last-of-type {
 padding-right: 0vw;
 border: none;
 }

nav.scrolled ul li:last-of-type {
 padding-right: 10vw;
 }

nav ul li a {
 display: block;
 font-size: 1.4rem;
 font-family: 'ff-tisa-sans-web-pro', sans-serif;
 font-weight: 800;
 font-style: initial;
 text-transform: uppercase;
 letter-spacing: .05rem;
 text-align: right;
 }

/** PAGE STRUCTURE **/
.page-container {
 display: flex;
 flex-flow: row nowrap;
 }

.page-content {
 width: 100%;
 margin: 0;
 padding: 0;
 background: #1c1e26;
 }

section, header {
 display: flex;
 flex-flow: row nowrap;
 align-items: center;
 height: 100vh;
 margin: 0;
 padding: 10vh 10vw 0 10vw;
 }

header {
 flex-flow: column wrap;
 justify-content: center;
 align-items: flex-start;
 width: 100%;
 margin: 0;
 padding: 0 0 0 30vw;
 }

.section-links {
 display: flex;
 position: relative;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: flex-end;
 min-width: 15vw;
 max-width: 15vw;
 padding: 0;
 list-style-type: none;
}

.section-links:after {
 content:'';
 display: inline-flex;
 position: absolute;
 right: -19%;
 width: 0;
 height: 70vh;
 border: .5px solid #fff;
 }

.section-content {
 display: flex;
 flex-flow: row nowrap;
 align-items: flex-start;
 height: 70vh;
 padding-left: 5vw;
 overflow-x: hidden;
 overflow-y: auto;
 scroll-behavior: smooth;
}

.section-content::-webkit-scrollbar {
 width: .5rem;
}

.section-content::-webkit-scrollbar-track {
 background-color: #484848;
}

.section-content::-webkit-scrollbar-thumb {
 background-color: #D3D3D3;
}

.section-header, .content-block {
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: flex-start;
 min-width: 55vw;
 max-width: 55vw;
 margin: auto;
}

/** CONTENT **/

/* header */
h1 {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 font-weight: 600;
 font-size: 4rem;
 letter-spacing: .125rem;
 text-transform: uppercase;
 color: #fff;
 }

header h1::before {
 content: "joshua";
 }

header h1::after {
 content: "duval";
 }

h1 > strong {
 font-family: 'Roboto', sans-serif;
 font-size: 4rem;
 font-weight: 900;
 color: #1ABC9C;
 }

h1 > strong a {
 font-family: 'Roboto', sans-serif;
 font-size: 4rem;
 font-weight: 900;
 color: #EF3815;
 }

h1 .brackets {
 font-family: 'Crete Round', serif;
 font-weight: 400;
 font-size: 4.5rem;
 }

h2 {
 display: flex;
 padding: 0;
 align-items: center;
 font-family: 'baskerville-urw', serif;
 font-style: italic;
 font-weight: 400;
 font-size: 3rem;
 text-transform: lowercase;
 color: #1ABC9C;
 }

/* general content */
.sub {
 cursor: pointer;
}

.section-links span.sub {
 font-family: 'ff-tisa-sans-web-pro', sans-serif;
 font-size: 1.2rem;
 line-height: 2.4rem;
 font-weight: 400;
 text-transform: uppercase;
 letter-spacing: .05rem;
 color: #fff;
}

.section-links span.sub:hover, h3:hover {
 color: #0AA1F0;
}

.sub.active, .section-links span.sub.active {
 color: #1ABC9C;
 }

h3 {
 margin: 0;
 padding: 0;
 font-family: 'mr-eaves-sans', sans-serif;
 font-weight: 900;
 font-size: 2.2rem;
 line-height: 7.5rem;
 letter-spacing: .1rem;
 text-transform: uppercase;
 color: #fff;
 }

.section-description {
 padding: 0 0 0 0;
 font-family: 'ff-tisa-web-pro', serif;
 font-size: 2.5rem;
 font-weight: 300;
 line-height: 3.75rem;
 color: #D3D3D3;
}

h4 {
 font-family: 'mr-eaves-sans', sans-serif;
 font-weight: 800;
 font-size: 3rem;
 line-height: 3rem;
 letter-spacing: .1rem;
 text-transform: uppercase;
 color: #1ABC9C;
 }

h4:after {
 content:attr(after);
 display: flex;
 margin: 0 0 2rem 0;
 font-weight: 400;
 font-size: 3rem;
 text-transform: none;
 color: #FFF;
 }

h5 {
 margin: 0 0 3rem 0;
 padding: 0;
 line-height: 3.75rem;
 font-size: 3rem;
 font-family: 'baskerville-urw', serif;
 font-weight: 400;
 font-style: italic;
 max-width: 500px;
 color: #FFF;
 }

p {
 max-width: 500px;
 margin-bottom: 1rem;
 line-height: 2.7rem;
 font-size: 1.8rem;
 font-weight: 300;
 font-family: 'ff-tisa-web-pro', serif;
 color: #D3D3D3;
 }

p:last-of-type {
 margin-bottom: 0;
}

p strong {
 font-weight: 500;
 color: #FFF;
}

/* collapsible tabs */

label {
 margin: 1em 0 .25em 0;
 font-size: 1.2rem;
 font-family: 'ff-tisa-sans-web-pro';
 font-weight: 400;
 color: #F00A1E;
 line-height: 2.4rem;
 text-transform: uppercase;
 letter-spacing: .05rem;
}

label:hover {
 color: #0AA1F0;
}

.tab {
 position: relative;
 width: 100%;
}

.tab input {
 position: absolute;
 opacity: 0;
 z-index: -1;
}

.tab label {
 position: relative;
 display: block;
 cursor: pointer;
}

.tab-content {
 display: none;
}

.tab input:checked ~ .tab-content {
 display: block;
}

.tab input + label::before {
 position: absolute;
 font-family: "Roboto";
 font-weight: 700;
 bottom: 0;
 content: "+";
 margin: 0;
 display: inline-block;
 left: -1em;
}

.tab input:checked + label::before {
 content: "-";
}

/* work history & work history */
.selected-courses, .achievements, .responsibilities {
 line-height: 2.7rem;
 font-size: 1.8rem;
 font-weight: 300;
 font-family: 'ff-tisa-web-pro', serif;
 color: #D3D3D3;
 list-style-type: none;
 padding: 0;
}

.selected-courses li:before, .responsibilities li:before {
 content: '\25A0';
 position: absolute;
 left: -1.3rem;
 font-size: 1rem;
}

.achievements li {
 margin-bottom: 2rem;
}

.achievements li:last-of-type {
 margin: 0;
}

.achievements li p:first-of-type {
 margin: 0;
 padding: 0;
}