					<section id='about' class='slideshow'>
						<ul class='section-links'>
							<li><h3 class='sub'><a href='#about-1'>About</a></h3></li>
							<li><a href='#about-2' class='sub'>A little about me</a></li>
							<li><a href='#about-3' class='sub'>Design philosophy</a></li>
							<li><a href='#about-4' class='sub'>Contact</a></li>
						</ul>

						<div class='section-content'>
							<div class='content-block slide' id='about-1'>
								<p class='big-body'>I'm jd duval, a digital and information professional. I'm currently looking for jobs in front-end web development.</p>
							</div>

							<div class='content-block slide' id='about-2'>
								<h4>A little about me</h4>

								<p>When I'm not making something, you can find me enjoying <strong>video games</strong>; finding a quiet, tucked-away <strong>nature</strong> place; and/or bonding (i.e., playing fetch) with my pup, <strong>Apollo</strong>.</p>
							</div>

							<div class='content-block slide' id='about-3'>
								<h4>Design philosophy</h4>

								<h5>Considering people in context&mdash;who they are, what they care about, and what they want to do&mdash;is essential to effective design.</h5>

								<p>I'm committed to using technology, design, and simple writing to <strong>empower people to accomplish good things</strong>. You'll never hear me refer to people as "users" because I'm always thinking about them beyond their interactions with an interface.</p>

								<p>As an information professional, my job is to <strong>discover people's needs (stated, observed, anticipated) and understand the larger contexts in which they live, play, and work</strong>. Investing first and foremost in empathizing with people and their goals allows me to create <strong>solutions that accommodate people</strong>, rather than asking people to accommodate solutions.</p>
							</div>

							<div class='content-block slide' id='about-4'>
								<h4>Contact</h4>

								<p>P: <strong>(734) 320-6727</strong></p>
								<p>E: <a href='mailto:duvaljd@umich.edu'>duvaljd@umich.edu</a>
								<p>Download my <a href='../static/files/duval-jd_resume.pdf'>resume</a>

							</div>
						</div>

					</section>