     <section id='about'>
      <div class='section-title'>
       <h3>About</h3>
      </div>

      <div class='section-content'>
       <div class='content-block' id='about-1'>
        <h4>Hi!</h4>

        <p class='description'><img src='static/images/jd.png' id='headshot' alt='JD looking at a butterfly on his shoulder' />I'm <strong>jd duval</strong>, a multi-disciplinary creative with work experience and education in <strong>ux design</strong>, <strong>graphic design</strong>, <strong>coding</strong>, and <strong>writing</strong>. I'm currently looking for careers in public service.</p>

        <p class='description'>When I'm not making something, you can find me enjoying <strong>video games</strong>; finding a quiet, tucked-away <strong>nature</strong> place; and/or bonding (i.e., playing fetch) with my pup, <strong>Apollo</strong>.</p>
       </div>

       <div class='content-block' id='about-2'>
        <h4>Design Philosophy</h4>
        <h5>The most important part of design is empathy.</h5>

        <p class='description'>You'll never hear me refer to people as "users: because I'm always thinking about them beyond their interactions with an interface. I'm committed to using forward-thinking technology, beautiful design, and clear writing to empower people to accomplish good things. <strong>Considering people in context&mdash;who they are, what they care about, and what they want to do&mdash;is integral to effective design.</strong></p>

        <p class='description'>I think <strong>a good designer always practices empathy</strong>. They discover people's needs (stated, observed, anticipated); take the time to understand the larger contexts in which people live, play, and work; and remain open to solutions that aren't always intuitive to themselves. Investing first and foremost in empathizing with people and their goals allows a designer to create <strong>solutions that accommodate people, rather than asking people to accommodate solutions</strong>&mdash;and these, I think, are most effective.</p>
       </div>
      </div>
     </section>