					<section id='education'>
				 	<div class='section-title'>
					 	<h3>Education</h3>
				 	</div>

				 	<div class='section-content'>
				 		<div class='content-block' id='education-1'>
								<div class='details'>
									<p class='location'>Ann Arbor, MI</p><p class='date'>August 2016&ndash;August 2018</p>
								</div>
								<h4>University of Michigan</h4>
								<p class='h4-sub'>School of Information</p>
								<h5>Master of Science in Information, Human-Computer Interaction</h5>

								<p class='description'>The coursework in UMSI's Master of Science in Information program fostered my growth as an information professional in three significant ways: facilitating my acquisition of new methodologies and skills; allowing me to build on my previously-acquired design foundations; and providing me with opportunities to work on real-world information and design challenges faced by local organizations.</p>

								<div class='tab'>
									<input type='checkbox' id='tab8' name='tabs'/>
									<label for='tab8' class='project-details'>Selected Courses</label>
									<div class='tab-content'>
										<ul class='selected-courses'>
											<li>Contextual Inquiry and Consulting Foundations</li>
											<li>Programming I</li>
											<li>Intermediate Programming</li>
											<li>Graphic Design</li>
											<li>Theories of Social Influence</li>
											<li>Design of Complex Websites</li>
											<li>Introduction to Interaction Design</li>
											<li>Fundamentals of Human Behavior</li>
											<li>Choice Architecure</li>
											<li>Needs Assessment and Usability Evaluation</li>
											<li>Database Application Design</li>
										</ul>
									</div>
								</div>								

								<div class='tab'>
									<input type='checkbox' id='tab9' name='tabs'/>
									<label for='tab9' class='project-details'>Achievements & Awards</label>
									<div class='tab-content'>
										<ul class='achievements'>
											<li>
												<p><strong>UMSI Achievement Fellowship</strong></p>
												<p>$10,000 stipend plus health benefits per semester for four semesters, awarded to eligible students who have a record of superior academic achievement.</p>
											</li>
										</ul>
									</div>
								</div>
							</div>

					 	<div class='content-block' id='education-2'>
								<div class='details'>
         <p class='location'>Ann Arbor, MI</p><p class='date'>August 2013&ndash;April 2015</p>
        </div>
        <h4>University of Michigan</h4>
        <p class='h4-sub'>Helen Zell Writers' Program</p>
        <h5>Master of Fine Arts, Creative Writing</h5>

        <p class='description'>In this two-year, workshop-focused graduate program, I was privileged to work directly with several celebrated poets&mdash;Lorna Goodison, Linda Gregerson, Laura Kasischke, and Khaled Mattawa&mdash;as well as a brilliant cohort of up-and-comers, as I completed a manuscript of poetry.</p>
										
								<div class='tab'>
	        <input type='checkbox' id='tab10' name='tabs'/>
	        <label for='tab10' class='project-details'>Achievements & Awards</label>
	        <div class='tab-content'>
	         <ul class='achievements'>
	          <li>
	           <p class='description'><strong>Rackham Merit Fellowship</strong></p>
	           <p class='description'>$18,160 plus health benefits for one year, awarded to eligible students who have a record of superior academic achievement.</p>
	          </li>
	          <li>
	           <p class='description'><strong>Zell Postgraduate Fellowship</strong></p>
	           <p class='description'>$25,000 awarded to qualified second-year MFA students.</p>
	          </li>
	          <li>
	           <p class='description'><strong>The Meader Family Award</strong></p>
	           <p class='description'>$2,000 award recognizing merit in the writing of poetry at the graduate level. </p>
	          </li>
	         </ul>
	        </div>
	       </div>
	      </div>

					 	<div class='content-block' id='education-3'>
								<div class='details'>
         <p class='location'>Ann Arbor, MI</p><p class='date'>January 2011&ndash;April 2013</p>
        </div>
        <h4>University of Michigan</h4>
        <p class='h4-sub'>College of Literature, Sciences, and the Arts</p>
        <h5>Bachelor of Arts, High Honors in English (Creative Writing)</h5>
        
        <p class='description'>The cirriculum of the English Honors Program challenged me to be an independent but empathic thinker; it gave me the tools to think critically about the world around me while also providing experience and frameworks for thinking through and across difference while identifying and managing my prejudices. These skills are the foundation on which all of my writing, design, and goals both professional and personal are built.</p>
										
								<div class='tab'>
         <input type='checkbox' id='tab11' name='tabs'/>
         <label for='tab11' class='project-details'>Achievements & Awards</label>
         <div class='tab-content'>
          <ul class='achievements'>
           <li>
            <p class='description'><strong>Minor, LGBTQ and Sexuality Studies</strong></p>
            <p class='description'>The LGBTQ and Sexuality Studies minor in the Women's Studies department 'offers students an interdisciplinary approach to the study of sexuality.'</p>
           </li>
           <li>
            <p class='description'><strong>Distinction</strong></p>
            <p class='description'>Awarded to students who rank in the top 25% of their class.</p>
           </li>
           <li>
            <p class='description'><strong>University Honors</strong></p>
            <p class='description'>Winter 2012, Fall 2012, Winter 2013</p>
           </li>
           <li>
            <p class='description'><strong>Summer Hopwood Fiction Award</strong></p>
            <p class='description'>$1,000, awarded by committee.</p>
           </li>
           <li>
            <p class='description'><strong>Roy W. Cowden Memorial Fellowship</strong></p>
            <p class='description'>$2,000, awarded each year on the basis of demonstrated writing talent and demonstrated financial need.</p>
           </li>
          </ul>
         </div>
        </div>            
       </div>

					 	<div class='content-block' id='education-4'>
								<div class='details'>
         <p class='location'>Ann Arbor, MI</p><p class='date'>August 2004&ndash;May 2010</p>
        </div>
        <h4>Washtenaw</h4>
        <p class='h4-sub'>Community College</p>
        <h5>Associate in Arts, Internet Professional</h5>
        
        <p class='description'>The cirriculum of the Internet Professional program at WCC exposed me to programming, graphic design, and user experience design for the first time, providing me with a solid knowledgebase in each of these three areas.</p>
        
        <div class='tab'>
         <input type='checkbox' id='tab12' name='tabs'/>
         <label for='tab12' class='project-details'>Selected Courses</label>
         <div class='tab-content'>
          <ul class='selected-courses'>
           <li>Web Coding I & II</li>
           <li>Web Graphics I, II & III</li>
           <li>Designing User Experience I & II</li>
           <li>Web Animation I</li>
           <li>Introduction to Mac Graphics</li>
           <li>Illustrator Graphics</li>
          </ul>
         </div>
        </div>        
       </div>
      </div>
    	</section>