     <section id='education' class='slideshow'>
				 	<ul class='section-links'>
       <li><h3 class='sub' onclick='currentDiv(1,2)'>Education</h3></li>
       <li><span class='sub' onclick='currentDiv(2,2)'>MS</span></li>
       <li><span class='sub' onclick='currentDiv(3,2)'>MFA</span></li>
       <li><span class='sub' onclick='currentDiv(4,2)'>BA</span></li>
       <li><span class='sub' onclick='currentDiv(5,2)'>AA</span></li>
      </ul>

				 	<div class='section-content'>
       <div class='section-header slide' id='education-1'>
        <table class='summary'>
         <tr>
          <td>
           <span>Aug 2016&mdash;<br />Dec 2018</span>
          </td>
          <td>
           <span>Master of Science (MS), Information</span>
           <span after='School of Information'>University of Michigan</span>
          </td>
         </tr>

         <tr>
          <td>
           <span>Aug 2013&mdash;<br />Apr 2016</span>
          </td>
          <td>
           <span>Master of Fine Arts (MFA), Creative Writing</span>
           <span after="Helen Zell Writers' Program">University of Michigan</span>
          </td>
         </tr>

         <tr>
          <td>
           <span>Jan 2011&mdash;<br />Apr 2013</span>
          </td>
          <td>
           <span>Bachelor of Arts (BA), English</span>
           <span after='College of Literature, Science, and the Arts'>University of Michigan</span>
          </td>
         </tr>

         <tr>
          <td>
           <span>Aug 2004&mdash;<br />May 2010</span>
          </td>
          <td>
           <span>Associate of Arts (AA), Internet Professional</span>
           <span>Washtenaw Community College</span>
          </td>
         </tr>
        </table>
       </div>

				 		<div class='content-block slide' id='education-2'>
								<h4 after='School of Information'>University of Michigan</h4>
								<h5>Master of Science in Information, Human-Computer Interaction</h5>

								<p>The coursework in UMSI's Master of Science in Information program fostered my growth as an information professional in three significant ways: facilitating my acquisition of new methodologies and skills; allowing me to build on my previously-acquired design foundations; and providing me with opportunities to work on real-world information and design challenges faced by local organizations.</p>

								<div class='tab'>
									<input type='checkbox' id='tab8' name='tabs'/>
									<label for='tab8'>Selected Courses</label>
									<div class='tab-content'>
										<ul class='selected-courses'>
											<li>Contextual Inquiry and Consulting Foundations</li>
											<li>Programming I</li>
											<li>Intermediate Programming</li>
											<li>Graphic Design</li>
											<li>Theories of Social Influence</li>
											<li>Design of Complex Websites</li>
											<li>Introduction to Interaction Design</li>
											<li>Fundamentals of Human Behavior</li>
											<li>Choice Architecure</li>
											<li>Needs Assessment and Usability Evaluation</li>
											<li>Database Application Design</li>
										</ul>
									</div>
								</div>

								<div class='tab'>
									<input type='checkbox' id='tab9' name='tabs'/>
									<label for='tab9'>Achievements & Awards</label>
									<div class='tab-content'>
										<ul class='achievements'>
											<li>
												<p><strong>UMSI Achievement Fellowship</strong></p>
												<p>$10,000 stipend plus health benefits per semester for four semesters, awarded to eligible students who have a record of superior academic achievement.</p>
											</li>
										</ul>
									</div>
								</div>
							</div>

					 	<div class='content-block slide' id='education-3'>
        <h4 after="Helen Zell Writers' Program">University of Michigan</h4>
        <h5>Master of Fine Arts, Creative Writing</h5>

        <p>In this two-year, workshop-focused graduate program, I was privileged to work directly with several celebrated poets&mdash;Lorna Goodison, Linda Gregerson, Laura Kasischke, and Khaled Mattawa&mdash;as well as a brilliant cohort of up-and-comers, as I completed a manuscript of poetry.</p>

								<div class='tab'>
	        <input type='checkbox' id='tab10' name='tabs'/>
	        <label for='tab10'>Achievements & Awards</label>
	        <div class='tab-content'>
	         <ul class='achievements'>
	          <li>
	           <p><strong>Rackham Merit Fellowship</strong></p>
	           <p>$18,160 plus health benefits for one year, awarded to eligible students who have a record of superior academic achievement.</p>
	          </li>
	          <li>
	           <p><strong>Zell Postgraduate Fellowship</strong></p>
	           <p>$25,000 awarded to qualified second-year MFA students.</p>
	          </li>
	          <li>
	           <p><strong>The Meader Family Award</strong></p>
	           <p>$2,000 award recognizing merit in the writing of poetry at the graduate level. </p>
	          </li>
	         </ul>
	        </div>
	       </div>
	      </div>

					 	<div class='content-block slide' id='education-4'>
        <h4 after='College of Literature, Sciences, and the Arts'>University of Michigan</h4>
        <h5>Bachelor of Arts, High Honors in English</h5>

        <p>The cirriculum of the English Honors Program challenged me to be an independent but empathic thinker; it gave me the tools to think critically about the world around me while also providing experience and frameworks for thinking through and across difference while identifying and managing my prejudices. These skills are the foundation on which all of my writing, design, and goals both professional and personal are built.</p>

								<div class='tab'>
         <input type='checkbox' id='tab11' name='tabs'/>
         <label for='tab11'>Achievements & Awards</label>
         <div class='tab-content'>
          <ul class='achievements'>
           <li>
            <p><strong>Minor, LGBTQ and Sexuality Studies</strong></p>
            <p>The LGBTQ and Sexuality Studies minor in the Women's Studies department 'offers students an interdisciplinary approach to the study of sexuality.'</p>
           </li>
           <li>
            <p><strong>Distinction</strong></p>
            <p>Awarded to students who rank in the top 25% of their class.</p>
           </li>
           <li>
            <p><strong>University Honors</strong></p>
            <p>Winter 2012, Fall 2012, Winter 2013</p>
           </li>
           <li>
            <p><strong>Summer Hopwood Fiction Award</strong></p>
            <p>$1,000, awarded by committee.</p>
           </li>
           <li>
            <p><strong>Roy W. Cowden Memorial Fellowship</strong></p>
            <p>$2,000, awarded each year on the basis of demonstrated writing talent and demonstrated financial need.</p>
           </li>
          </ul>
         </div>
        </div>
       </div>

					 	<div class='content-block slide' id='education-5'>
        <h4>Washtenaw Community College</h4>
        <h5>Associate of Arts, Internet Professional</h5>

        <p>The cirriculum of the Internet Professional program at WCC exposed me to programming, graphic design, and user experience design for the first time, providing me with a solid knowledgebase in each of these three areas.</p>

        <div class='tab'>
         <input type='checkbox' id='tab12' name='tabs'/>
         <label for='tab12'>Selected Courses</label>
         <div class='tab-content'>
          <ul class='selected-courses'>
           <li>Web Coding I & II</li>
           <li>Web Graphics I, II & III</li>
           <li>Designing User Experience I & II</li>
           <li>Web Animation I</li>
           <li>Introduction to Mac Graphics</li>
           <li>Illustrator Graphics</li>
          </ul>
         </div>
        </div>
       </div>
      </div>
    	</section>