    <div class="container">
     <h1>
      <span class="brackets">(</span>
      <strong><a href="#home">jd</a></strong>
      <span class="brackets">)</span>
     </h1>
    </div>

    <ul>
     <li><a href="#about" class="top anchor">About</a></li>
     <li><a href="#about-1" class="sub anchor">Who's JD?</a></li>
     <li><a href="#about-2" class="sub anchor">Design Philosophy</a></li>

     <li><a href="#recent" class="top anchor">Recent Projects</a></li>
     <li><a href="#recent-1" class="sub anchor">Project 1</a></li>
     <li><a href="#recent-2" class="sub anchor">Project 2</a></li>
     <li><a href="#recent-3" class="sub anchor">Project 3</a></li>

     <li><a href="#work" class="top anchor">Work History</a></li>
     <li><a href="#work-1" class="sub anchor">UMSI</a></li>
     <li><a href="#work-2" class="sub anchor">Michigan Radio</a></li>
     <li><a href="#work-3" class="sub anchor">Mixed Bin Media</a></li>
     <li><a href="#work-4" class="sub anchor">LSA</a></li>
     <li><a href="#work-5" class="sub anchor">DAAS</a></li>
     <li><a href="#work-6" class="sub anchor">AutoKnowledge</a></li>
     <li><a href="#work-7" class="sub anchor">MIR</a></li>
     <li><a href="#work-8" class="sub anchor">AutomobileMag</a></li>

     <li><a href="#education" class="top anchor">Education</a></li>
     <li><a href="#education-1" class="sub anchor">MS</a></li>
     <li><a href="#education-2" class="sub anchor">MFA</a></li>
     <li><a href="#education-3" class="sub anchor">BA</a></li>
     <li><a href="#education-4" class="sub anchor">AA</a></li>

     <li><a href="../static/files/duval-jd_resume.pdf" class="external-link" target="_blank">Resume</a></li>
    </ul>