					<section id='portfolio' class='slideshow'>
						<ul class='section-links'>
							<li><h3 class='sub'><a href='#portfolio-1'>Portfolio</a></h3></li>
							<li><a href='#portfolio-2' class='sub'>Contextual Inquiry</a></li>
							<li><a href='#portfolio-3' class='sub'>Website Redesign</a></li>
							<li><a href='#portfolio-4' class='sub'>Usability Evaluation</a></li>
							<li><a href='#portfolio-5' class='sub'>Interaction Design</a></li>
							<li><a href='#portfolio-6' class='sub'>Email & Print Campaign</a></li>
							<li><a href='#portfolio-7' class='sub'>Web Assets</a></li>
							<li><a href='#portfolio-8' class='sub'>Python Application</a></li>
							<li><a href='#portfolio-9' class='sub'>Process Map</a></li>
							<li><a href='#portfolio-10' class='sub'>Poster Design</a></li>
						</ul>

						<div class='section-content'>
							<div class='content-block slide grid' id='portfolio-1'>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-1' />
									<label for='portfolio-item-1'>
										<img src=../static/images/pillarLogo.svg alt='Pillar Technology company logo' />
										<div>
											<h5>Contextual Inquiry</h5>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-2' />
									<label for='portfolio-item-2'>
										<img src=../static/images/umsiLogo.svg alt='University of Michigan School of Information logo' />
										<div>
												<h5>Website Redesign</h5>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-3' />
									<label for='portfolio-item-3'>
										<img src=../static/images/jibeLogo.svg alt='Jibe company logo' />
										<div>
												<h5>Usability Evaluation</h5>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-4' />
									<label for='portfolio-item-4'>
										<img src=../static/images/mcalLogo.svg alt='MCal logo' />
										<div>
												<h5>Interaction Design</h5>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-5' />
									<label for='portfolio-item-5'>
										<img src=../static/images/byzantiumLogo.svg alt='Byzantium Society organization logo' />
										<div>
												<h5>Email & Print Campaign</h5>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-6' />
									<label for='portfolio-item-6'>
										<img src=../static/images/lsaLogo.svg alt='University of Michigan College of Literature, Science, and the Arts logo' />
										<div>
												<h5>Web Assets</h5>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-7' />
									<label for='portfolio-item-7'>
										<img src=../static/images/dominion.png alt='Dominion card game logo' />
										<div>
												<h5>Python Application</h5>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-8' />
									<label for='portfolio-item-8'>
										<img src=../static/images/opceLogo.svg alt='University of Michigan School of Information Office of Professional and Community Engagement logo' />
										<div>
												<h5>Process Map</h5>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-9' />
									<label for='portfolio-item-9'>
										<img src=../static/images/finalFantasyLogo.svg alt='Final Fantasy generic logo' />
										<div>
												<h5>Poster Design</h5>
										</div>
									</label>
								</div>
							</div>
						</div>
					</section>