					<section id='portfolio' class='slideshow'>
						<ul class='section-links'>
							<li><h3 class='sub'><a href='#portfolio-1'>Portfolio</a></h3></li>
							<li><a href='#portfolio-2' class='sub'>Contextual Inquiry</a></li>
							<li><a href='#portfolio-3' class='sub'>Website Redesign</a></li>
							<li><a href='#portfolio-4' class='sub'>Usability Evaluation</a></li>
							<li><a href='#portfolio-5' class='sub'>Interaction Design</a></li>
							<li><a href='#portfolio-6' class='sub'>Email & Print Campaign</a></li>
							<li><a href='#portfolio-7' class='sub'>Web Assets</a></li>
							<li><a href='#portfolio-8' class='sub'>Python Application</a></li>
							<li><a href='#portfolio-9' class='sub'>Process Map</a></li>
							<li><a href='#portfolio-10' class='sub'>Poster Design</a></li>
						</ul>

						<div class='section-content'>
							<div class='content-block slide grid' id='portfolio-1'>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-1' />
									<label for='portfolio-item-1'>
										<div class='grid-item-contents'>
											<img src=../static/images/pillarLogo.svg alt='Pillar Technology company logo' />
											<p>Pillar Technology: Contextual Inquiry</p>
											<p>During this externship, I worked on a consulting team for Pillar Technologies, conducting interviews and producing a set of recommendations on how Pillar could better utilize its workspace and suggestions on how management could better receive the great ideas permeating Pillar's offices.</p>
											<a href='#portfolio-2'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-2' />
									<label for='portfolio-item-2'>
										<div class='grid-item-contents'>
											<img src=../static/images/umsiLogo.svg alt='University of Michigan School of Information logo' />
											<p>University of Michigan School of Information: Website Redesign</p>
											<p>As part of my graduate coursework, I produced a mockup for a redesign of the University of Michigan School of Information home page for my final design project. </p>
											<a href='#portfolio-3'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-3' />
									<label for='portfolio-item-3'>
										<div class='grid-item-contents'>
											<img src=../static/images/jibeLogo.svg alt='Jibe company logo' />
											<p>Jibe: Usability Evaluation</p>
											<p>During this externship, I worked on a consulting team for Jibe, conducting a needs assessment and usability evaluation of their client recruitment application and producing a recommendations report to help improve its usability.</p>
											<a href='#portfolio-4'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-4' />
									<label for='portfolio-item-4'>
										<div class='grid-item-contents'>
											<img src=../static/images/mcalLogo.svg alt='MCal logo' />
											<p>MCal: Interaction Design</p>
											<p>As part of my graduate coursework, I created an interactive prototype for a social calendar called MCal.</p>
											<a href='#portfolio-5'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-5' />
									<label for='portfolio-item-5'>
										<div class='grid-item-contents'>
											<img src=../static/images/byzantiumLogo.svg alt='Byzantium Society organization logo' />
											<p>Byzantium Society: Email & Print Campaign</p>
											<p>As part of my graduate coursework, I designed a postcard and email for a fictional event hosted by the Byzantium Society.</p>
											<a href='#portfolio-6'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-6' />
									<label for='portfolio-item-6'>
										<div class='grid-item-contents'>
											<img src=../static/images/lsaLogo.svg alt='University of Michigan College of Literature, Science, and the Arts logo' />
											<p>University of Michigan College of Literature, Science, and the Arts: Web Assets</p>
											<p>As part of my graduate coursework, I designed web assets to advertise a series of fictional courses for an upcoming semester.</p>
											<a href='#portfolio-7'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-7' />
									<label for='portfolio-item-7'>
										<div class='grid-item-contents'>
											<img src=../static/images/dominion.png alt='Dominion card game logo' />
											<p>Dominion: Python Application</p>
											<p>As part of my graduate coursework, I designed and programmed an application that allows people to look up any card in the Dominion card game and download relevant information and suggested card pairings for each card.</p>
											<a href='#portfolio-8'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-8' />
									<label for='portfolio-item-8'>
										<div class='grid-item-contents'>
											<img src=../static/images/opceLogo.svg alt='University of Michigan School of Information Office of Professional and Community Engagement logo' />
											<p>University of Michigan School of Information Office of Professional and Community Engagement: Process Map</p>
											<p>After completing a round of client recruitment, I created a map that documents clients' journey through our recruitment process to assist our team in identifying troublesome practices and bottlenecks in our process.</p>
											<a href='#portfolio-9'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-9' />
									<label for='portfolio-item-9'>
										<div class='grid-item-contents'>
											<img src=../static/images/finalFantasyLogo.svg alt='Final Fantasy generic logo' />
											<p>Final Fantasy: Poster Design</p>
											<p>As part of my graduate coursework, I designed a poster themed after the Final Fantasy video game series.</p>
											<a href='#portfolio-10'>Project details</a>
										</div>
									</label>
								</div>
							</div>
						</div>
					</section>