					<section id='portfolio'>
						<ul class='section-links'>
							<li><h3 class='sub'><a href='#portfolio-1'>Portfolio</a></h3></li>
							<li><a href='#portfolio-2' class='sub'>Contextual Inquiry</a></li>
							<li><a href='#portfolio-3' class='sub'>Website Redesign</a></li>
							<li><a href='#portfolio-4' class='sub'>Usability Evaluation</a></li>
							<li><a href='#portfolio-5' class='sub'>Interaction Design</a></li>
							<li><a href='#portfolio-6' class='sub'>Python Application</a></li>
							<li><a href='#portfolio-7' class='sub'>Process Map</a></li>
						</ul>

						<div class='section-content'>
							<div class='content-block slide grid' id='portfolio-1'>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-1' />
									<label for='portfolio-item-1'>
										<div class='grid-item-contents'>
											<img src=../static/images/pillarLogo.svg alt='Pillar Technology company logo' />
											<p>Pillar Technology: Contextual Inquiry</p>
											<p></p>
											<a href='#portfolio-2'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-2' />
									<label for='portfolio-item-2'>
										<div class='grid-item-contents'>
											<img src=../static/images/umsiLogo.svg alt='University of Michigan School of Information logo' />
											<p>University of Michigan School of Information: Website Redesign</p>
											<p></p>
											<a href='#portfolio-3'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-3' />
									<label for='portfolio-item-3'>
										<div class='grid-item-contents'>
											<img src=../static/images/jibeLogo.svg alt='Jibe company logo' />
											<p>Jibe: Usability Evaluation</p>
											<p></p>
											<a href='#portfolio-4'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-4' />
									<label for='portfolio-item-4'>
										<div class='grid-item-contents'>
											<img src=../static/images/mcalLogo.svg alt='MCal logo' />
											<p>MCal: Interaction Design</p>
											<p></p>
											<a href='#portfolio-5'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-5' />
									<label for='portfolio-item-5'>
										<div class='grid-item-contents'>
											<img src=../static/images/dominionLogo.png alt='Dominion card game logo' class='tall' />
											<p>Dominion: Python Application</p>
											<p></p>
											<a href='#portfolio-6'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'>
									<input type='checkbox' id='portfolio-item-6' />
									<label for='portfolio-item-6'>
										<div class='grid-item-contents'>
											<img src=../static/images/opceLogo.svg alt='University of Michigan School of Information Office of Professional and Community Engagement logo' />
											<p>University of Michigan School of Information Office of Professional and Community Engagement: Process Map</p>
											<p></p>
											<a href='#portfolio-7'>Project details</a>
										</div>
									</label>
								</div>

								<div class='grid-item'></div>

								<div class='grid-item'></div>

								<div class='grid-item'></div>
							</div>

							<div class='content-block slide' id='portfolio-2'>
								<div class='content'>
									<h4 after='for Pillar Technology'>Contextual Inquiry</h4>
									<h5>Addressing organizational challenges using employee interviews, research, and card sorting</h5>

									<div class='tab'>
										<input type='checkbox' id='portfolioTab-2' />
										<label for='portfolioTab-2'>Project Details</label>
										<div class='tab-content'>
											<a href='../static/files/pillarReport.pdf' target='_blank'>
												<img src='../static/images/pillarReport.png' alt='Cover of recommendations report' class='thumb tall' />
											</a>
											<p>During this externship, I worked on a consulting team for <a href='https://pillartechnology.com/' target='_blank'>Pillar Technology</a>, gathering data and offering recommendations about how they utilized the space of their offices at The Forge in Ann Arbor, Michigan. Our team conducted background research on the organization, interviews with staff and management, and a competitive analysis, then used card sorting methodology to analyze our data.</p>

											<p>The resulting report includes recommendations on how Pillar can better utilize space within the Forge and suggestions on how management can better tap into the great ideas permeating Pillar's offices, all supported by data from sources both internal and external to Pillar.</p>
										</div>
									</div>

								</div>
							</div>

							<div class='content-block slide' id='portfolio-3'>
								<div class='content'>
									<h4 after='for University of Michigan School of Information'>Website Redesign</h4>
									<h5>Modernizing a university website (design exercise)</h5>
									<div class='mini-gallery'>
										<a href='#umsiRedesign1'>
											<img src='../static/images/umsiRedesign-1.png' alt='Cover of recommendations report' class='thumb wide' />
										</a>

										<a href='#umsiRedesign2'>
											<img src='../static/images/umsiRedesign-2.png' alt='Cover of recommendations report' class='thumb wide' />
										</a>

										<a href='#umsiRedesign3'>
											<img src='../static/images/umsiRedesign-3.png' alt='Cover of recommendations report' class='thumb wide' />
										</a>

										<a href='#umsiRedesign4'>
											<img src='../static/images/umsiRedesign-4.png' alt='Cover of recommendations report' class='thumb wide' />
										</a>
									</div>

									<div class='lightbox-outer' id='umsiRedesign1'>
										<a href='#_' class='lightbox-inner'>
											<img src='../static/images/umsiRedesign-1.png' alt='Screenshot of redesigned UMSI home page' />
										</a>
									</div>

									<div class='lightbox-outer' id='umsiRedesign2'>
										<a href='#_' class='lightbox-inner'>
											<img src='../static/images/umsiRedesign-2.png' alt='Screenshot of redesigned UMSI home page, school programs' />
										</a>
									</div>

									<div class='lightbox-outer' id='umsiRedesign3'>
										<a href='#_' class='lightbox-inner'>
											<img src='../static/images/umsiRedesign-3.png' alt='Screenshot of redesigned UMSI home page, features' />
										</a>
									</div>

									<div class='lightbox-outer' id='umsiRedesign4'>
										<a href='#_' class='lightbox-inner'>
											<img src='../static/images/umsiRedesign-4.png' alt='Screenshot of redesigned UMSI home page, news and faculty' />
										</a>
									</div>

									<div class='tab'>
										<input type='checkbox' id='portfolioTab-3' />
										<label for='portfolioTab-3'>Project Details</label>
										<div class='tab-content'>
											<p>For this design exercise during my graduate coursework, I conducted a peer review to identify the design and information organization trends popular among other information schools, and used these findings to create mockups of a redesign for the <a href='https://www.si.umich.edu/' target='_blank'>University of Michigan School of Information home page</a>.</p>

											<p>During the peer review, I was drawn to sites that featured edge-to-edge images and colors, with bold typography, generous white space, and clear visual heirarchy. I brought these practices to the UMSI website, creating clear visual heirarchies with lots of breathing room, using Michigan's signature maize and blue colors to draw attention to headers, and choosing typefaces that align with Michigan's style guide while maintaining boldness (Benton Sans) and readability (Minion Pro).</p>
										</div>
									</div>

								</div>
							</div>

							<div class='content-block slide' id='portfolio-4'>
								<div class='content'>
									<h4 after='for Jibe'>Usability Evaluation</h4>
									<h5>Discovering user needs and evaluating usability for a popular careers web platform</h5>

									<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3Z-MnOvxBxc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

									<div class='tab'>
										<input type='checkbox' id='portfolioTab-4' />
										<label for='portfolioTab-4'>Project Details</label>
										<div class='tab-content'>
											<a href='../static/files/jibeReport.pdf' target='_blank'>
												<img src='../static/images/jibeReport.png' alt='Cover of Jibe report' class='thumb tall' />
											</a>
											<p>During this externship, I worked on a consulting team for <a href='https://www.jibe.com' target='_blank'>Jibe</a>&mdash;specifcally, on the job application submission process of their recruiting cloud platform. Our team conducted a series of surveys, interviews, and usability tests with potential users; researched competitors; and performed evaluative tests against Nielsen's heuristics for interface design.</p>

											<p>The resulting series of reports includes a journey map of the application process; transcripts of interviews; and the results from our survey, heuristic evaluation, and usability testing, including personas and scenarios. Our team also used our scenarios and persons to produce a video walkthrough of our recommendations for increasing the usability of the platform.</p>
										</div>
									</div>
								</div>
							</div>

							<div class='content-block slide' id='portfolio-5'>
								<div class='content'>
									<h4 after='for MCal'>Interaction Design</h4>
									<h5>Designing prototypes for a mobile social calendar app</h5>

									<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PL6OG1F0hhq2hIXO98zbV0ASkPzUYGaukM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

									<div class='tab'>
										<input type='checkbox' id='portfolioTab-5' />
										<label for='portfolioTab-5'>Project Details</label>
										<div class='tab-content'>
											<a href='../static/files/mcalReport.pdf' target='_blank'>
												<img src='../static/images/mcalReport.png' alt='Cover of MCal report' class='thumb tall' />
											</a>
											<p>For this design project during my graduate coursework, I designed a social calendar app similar to Facebook but tailored to university of Michigan students: MCal.</p>

											<p>The videos above include a paper prototype and a functional version created with proto.io. The accompanying reports include the design problem statement, competitive analysis, design sketches, personas, story map, and design space anaylsis.</p>
										</div>
									</div>

								</div>
							</div>

							<div class='content-block slide' id='portfolio-6'>
								<div class='content'>
									<h4 after='for Dominion Explorer'>Python Application</h4>
									<h5>Scraping and outputting data from a website</h5>

									<a href='#dominionExplorer1'>
											<img src='../static/images/dominionExplorer.png' alt='Screenshot of Dominion Explorer GitHub repository' class='thumb wide' />
									</a>

									<div class='lightbox-outer' id='dominionExplorer1'>
										<a href='#_' class='lightbox-inner'>
											<img src='../static/images/dominionExplorer.png' alt='Screenshot of Dominion Explorer GitHub repository' />
										</a>
									</div>

									<div class='tab'>
										<input type='checkbox' id='portfolioTab-6' />
										<label for='portfolioTab-6'>Project Details</label>
										<div class='tab-content'>
											<p>Dominion Explorer is a Python application for exploring one of my favorite card games, Dominion. Use it to find information about individual cards or expansions, or to find recommended sets of cards for play based on a specific card or expansion.</p>

											<p>You can read the technical details about what the application does, download the code, and find instructions for setting it up on your local machine at <a href='https://github.com/duvaljd/Dominion-Explorer' target='_blank'>the GitHub repository</a>.</p>
										</div>
									</div>

								</div>
							</div>

							<div class='content-block slide' id='portfolio-7'>
								<div class='content'>
									<h4 after='for University of Michigan School of Information Office of Professional and Community Engagement'>Process Map</h4>
									<h5>Mapping how people move through a client recruitment process</h5>

									<a href='#recruitmentMap'>
											<img src='../static/images/recruitmentMap.png' alt='Screenshot of process map for University of Michigan School of Information Office of Professional and Community Engagement client recruitment process' class='thumb wide' />
									</a>

									<div class='lightbox-outer' id='recruitmentMap'>
										<a href='#_' class='lightbox-inner'>
											<img src='../static/images/recruitmentMap.png' alt='Screenshot of process map for University of Michigan School of Information Office of Professional and Community Engagement client recruitment process' />
										</a>
									</div>

									<div class='tab'>
										<input type='checkbox' id='portfolioTab-7' />
										<label for='portfolioTab-7'>Project Details</label>
										<div class='tab-content'>
											<p>I created this process map to capture the journey applicants go through to become a client for the University of Michigan School of Information's client-based courses. As the client recruitment team transitions to using a new project management application, the map helps us identify where we can and should alter the client recruitment process to take advantage of the capabilities of the new application to streamline and simplify the process for clients. You can <a href='https://www.draw.io/?lightbox=1&highlight=0000ff&nav=1&title=clients.html#Uhttps%3A%2F%2Fdrive.google.com%2Fa%2Fumich.edu%2Fuc%3Fid%3D13UBYsbD6cAZMgsJnSmuNnajroS1OXXRe%26export%3Ddownload' target='_blank'>see the full-size map on draw.io</a></p>
										</div>
									</div>

								</div>
							</div>

						</div>
					</section>