			<div class="section-title">
				<h3>Recent Projects</h3>
			</div>
			
			<section class="section-content" id="recent">
				
				<div class="slideshow">
					<div class="slideshow-controls">
						<a class="prev" onclick="plusDivs(-1, 1)"></a>
						<span class="dot" onclick="currentDiv(1, 1)"><span class="dot-text">Information Flow</span></span>
						<span class="dot" onclick="currentDiv(2, 1)"><span class="dot-text">Usability Testing</span></span>
						<span class="dot" onclick="currentDiv(3, 1)"><span class="dot-text">Contextual Inquiry</span></span>
						<a class="next" onclick="plusDivs(1, 1)"></a>
					</div>

					<div class="slideshow-window">
						<div class="slide" id="recent-1">
							<div class="slide-header">
								<div class="details">
									<p class="location">Ann Arbor, MI</p><p class="date">May 2018&ndash;Current</p>
								</div>
								<h4>University of Michigan</h4>
								<p class="h4-sub">School of Information</p>
							</div>
							<div class="slide-body">
								<h5>Client Recruitment Project Management</h5>
								<p class="description">Working inside the University of Michigan School of Information's (UMSI) Office of Professional and Community Engagement (OPCE), I've collaborated with OPCE staff and UMSI faculty on <strong>building an information flow for our client recruitment strategy</strong>.</p>

								<div class="tab">
									<input type="checkbox" id="tab1" name="tabs"/>
									<label for="tab1" class="project-details">Project details</label>
									<div class="tab-content">
										<p class="description">Over the last eight months, my position has expanded to include several different responsibilities:</p>
										<ul class="description-list">
											<li>Building an <a href="http://umsi.info/clientopportunities" target="_blank">informational website</a></li>
											<li>Identifying potential clients</li>
											<li>Reaching out to potential clients via email and phone campaigns</li>
											<li>Acquiring project proposals from potential clients</li>
											<li>Reviewing proposals with faculty</li>
											<li>Scoping projects to meet client needs and student requirements</li>
											<li>Handing clients and projects off to faculty</li>
										</ul>
										<p class="description">I'm currently assisting OPCE with migrating the client recruitment strategy to Airtable, working with OPCE staff to <strong>reduce redundant processes, increase efficiency through automation and scripting, and streamline interactions with clients, faculty and students</strong>.</p>
									</div>
								</div>
							</div>							
						</div>
						<div class="slide" id="recent-2">
							<div class="slide-header">
								<div class="details">
									<p class="location">Ann Arbor, MI</p><p class="date">January&ndash;April 2017</p>
								</div>
								<h4>Jibe</h4>
								<p class="h4-sub">Recruiting Cloud</p>
							</div>
							<div class="slide-body">
								<h5>Needs Assessment and Usability Evaluation</h5>
								<p class="description">As part of my coursework as a graduate student at the University of Michigan School of Information, I was a member of a student group tasked with conducting a needs assessment and usability evaluation of a specific instance of <a href="https://www.jibe.com/main/" target="_blank">Jibe</a>'s career site and job search platform.</p>
								<div class="tab">
									<input type="checkbox" id="tab2" name="tabs"/>
									<label for="tab2" class="project-details">Project details</label>
									<div class="tab-content">
										<p class="description">Over the course of four months, we used several methods to discover the needs of people using Jibe's platform and to evaluate the platform itself:</p>
										<ul class="description-list">
											<li>Created an <strong>interaction map</strong> for the platform;</li>
											<li>Conducted <strong>interviews</strong> with job seekers to better understand the people who use Jibe's platform;</li>
											<li>Designed and implemented a <strong>survey</strong> to verify the conclusions from our interviews;</li>
											<li>Completed a <strong>comparative analysis</strong> to identify popular features and capabilities missing from the platform;</li>
											<li>Completed a <strong>heuristic analysis</strong> of the site, focusing on 10 key criteria;</li>
											<li>Designed and executed <strong>usability tests</strong> with five recruited participants.</li>
										</ul>
										<p class="description">We summarized our findings in a video report, which identified the key areas Jibe should focus their energies on addressing with future revisions of the platform. All deliverables from this project are available <a href="mailto:duvaljd@umich.edu" target="_blank">upon request</a>.</p>
									</div>
								</div>
							</div>														
						</div>
						<div class="slide" id="recent-3">
							<div class="slide-header">
								<div class="details">
									<p class="location">Ann Arbor, MI</p><p class="date">September&ndash;December 2016</p>
								</div>
								<h4>Pillar Technologies</h4>
								<p class="h4-sub">The Forge</p>
							</div>
							<div class="slide-body">
								<h5>Makerspace Feasability Study</h5>
								<p class="description">As part of my coursework as a graduate student at the University of Michigan School of Information, I was a member of a student consultant group tasked with assisting a local technology group, Pillar Technologies, with identifying possible uses for under-utilized office space.</p>
								<div class="tab">
									<input type="checkbox" id="tab3" name="tabs"/>
									<label for="tab3" class="project-details">Project details</label>
									<div class="tab-content">
										<p class="description">Over the course of four months, we engaged in research and used contextual inquiry methods to produce a set of recommendations for Pillar Technology to consider as they considered how to use their office space:</p>
										<ul class="description-list">
											<li><strong>Conducted research on Pillar Technology</strong>, including their market position, office culture, and role in the Ann Arbor tech community;</li>
											<li><strong>Conducted research on DIY/makerspace communities</strong> and the role and effects of corporate makerspaces;</li>
											<li><strong>Created interview protocols and conducted interviews</strong> with Pillar Technology employees;</li>
											<li>Recounted and reviewed interview sessions in <strong>interpretation sessions</strong>;</li>
											<li><strong>Created an affinity wall</strong> to organize and analyze interview notes and insights;</li>
											<li><strong>Developed recommendations</strong> based on research and interview.</li>
										</ul>
										<p class="description">The recommendations ranged from high-level suggestions for addressing restricted communication flows, to low-cost considerations for addressing slowed decision-making around transforming the office space.</p>
									</div>
								</div>								
							</div>							
						</div>
					</div>
				</div>
			</section>