			<div class="section-title">
				<h3>Skills</h3>
			</div>
			<section class="section-content" id="skills">
				<div class="slideshow">						
					<div class="slideshow-controls">
						<a class="prev" onclick="plusDivs(-1, 4)"></a>
						<span class="dot" onclick="currentDiv(1, 4)"><span class="dot-text">Design</span></span>
						<span class="dot" onclick="currentDiv(2, 4)"><span class="dot-text">Development</span></span>
						<span class="dot" onclick="currentDiv(3, 4)"><span class="dot-text">Research</span></span>
						<span class="dot" onclick="currentDiv(4, 4)"><span class="dot-text">Tools & Platforms</span></span>
						<span class="dot" onclick="currentDiv(5, 4)"><span class="dot-text">Writing</span></span>
						<a class="next" onclick="plusDivs(1, 4)"></a>
					</div>

					<div class="slideshow-window">
						<div class="slide" id="skills-1">
							<div class="slide-header">
								<h4>Design</h4>
							</div>
							<div class="slide-body">
								<ul class="selected-courses">
									<li>Personas & scenarios</li>
									<li>Prototypes</li>
									<li>Wireframes & mockups</li>
								</ul>
							</div>							
						</div>
						<div class="slide" id="skills-2">
							<div class="slide-header">
								<h4>Development</h4>
							</div>
							<div class="slide-body">
								<ul class="selected-courses">
									<li>Airtable</li>
									<li>Drupal</li>
									<li>HTML & CSS</li>
									<li>Joomla</li>
									<li>Javascript</li>
									<li>MySQL & PostgreSQL</li>
									<li>PHP</li>
									<li>Python</li>
									<li>Wordpress</li>
								</ul>
							</div>							
						</div>
						<div class="slide" id="skills-3">
							<div class="slide-header">
								<h4>Research</h4>
							</div>
							<div class="slide-body">
								<ul class="selected-courses">
									<li>Affinity diagrams</li>
									<li>Card sorting</li>
									<li>Contextual inquiry</li>
									<li>Comparative analysis</li>
									<li>Heuristic analysis</li>
									<li>Interaction mapping</li>
									<li>Interviews</li>
									<li>Surveys</li>
									<li>Usability / user tests</li>
								</ul>
							</div>							
						</div>
						<div class="slide" id="skills-4">
							<div class="slide-header">
								<h4>Tools & Platforms</h4>
							</div>
							<div class="slide-body">
								<ul class="selected-courses">
									<li>Adobe Illustrator, InDesign, Photoshop</li>
									<li>G Suite (Docs, Sheets, Slides) & App Engine</li>
									<li>Microsoft Office (Excel, Powerpoint, Word</li>
									<li>Proto.io</li>
								</ul>
							</div>							
						</div>
						<div class="slide" id="skills-5">
							<div class="slide-header">
								<h4>Writing</h4>
							</div>
							<div class="slide-body">
								<ul class="selected-courses">
									<li>Copywriting</li>
									<li>Editing</li>
								</ul>
							</div>							
						</div>
					</div>
				</div>
			</section>