     <section id='work'>
      <div class='section-title'>
       <h3>Work History</h3>
      </div>

      <div class='section-content'>
       <div class='content-block' id='work-1'>
        <div class='details'>
         <p class='location'>Ann Arbor, MI</p><p class='date'>May 2018&ndash;Current</p>
        </div>
        <h4>University of Michigan</h4>
        <p class='h4-sub'>School of Information</p>
        <h5>Client Recruiter</h5>

        <p class='description'>Working inside UMSI's <a href='https://www.si.umich.edu/programs/professional-and-community-engagement'>Office of Professional and Community Engagement</a>, I'm part of a small team which designs and executes recruitment campaigns soliciting projects addressing information problems from a variety of organizations. In my time in this role, I have <strong>recruited over 600 projects</strong> for UMSI's client-based courses.</p>

        <div class='tab'>
         <input type='checkbox' id='tab4' name='tabs'/>
         <label for='tab4' class='project-details'>Responsibilities</label>
         <div class='tab-content'>
          <ul class='description-list'>
           <li>Adjust project management strategy</li>
           <li>Manage client lists</li>
           <li>Exploratory conversations with potential clients</li>
           <li>Develop project ideas with potential clients</li>
           <li>Review project proposals and scope projects with potential clients</li>
           <li>Track clients and projects through registration, submission, selection, and beyond</li>
           <li>Maintain and update <a href='https://sites.google.com/umich.edu/umsiclientopportunities/home'>informational website</a></li>
           <li>Interview faculty for client and project preferences</li>
           <li>Create documentation for processes</li>
           <li>Migrate processes to Airtable</li>
          </ul>
         </div>
        </div>
       </div>

       <div class='content-block' id='work-2'>
        <div class='details'>
         <p class='location'>Ann Arbor, MI</p><p class='date'>May 2018&ndash;October 2018</p>
        </div>
        <h4>Michigan Radio</h4>
        <p class='h4-sub'>Regents of the University of Michigan</p>
        <h5>Digital Media Assistant (Internship)</h5>

        <p class='description'>In order to fulfill the curriculum requirements of UMSI's Master of Science in Information, I <strong>completed a 300-hour internship</strong> as part of Michigan Radio's digital media team.</p>

        <div class='tab'>
         <input type='checkbox' id='tab5' name='tabs'/>
         <label for='tab5' class='project-details'>Responsibilities</label>
         <div class='tab-content'>
          <ul class='description-list'>
           <li>Researched and wrote <a href='http://www.michiganradio.org/people/jd-duval'>stories</a> for <a href='http://www.michiganradio.org/'>Drupal-based website</a></li>
           <li>Posted content to Facebook and Instagram channels</li>
           <li>Reported Facebook and site traffic analytics with management</li>
           <li>Researched, suggested, and trialed social media dashboard</li>
           <li>Updated Wordpress-based <a href='http://media.michiganradio.org/'>staff bio site</a></li>
          </ul>
         </div>
        </div>
       </div>

       <div class='content-block' id='work-3'>
        <div class='details'>
         <p class='location'>Remote</p><p class='date'>February 2016&ndash;April 2018</p>
        </div>
        <h4>Mixed Bin Media</h4>
        <p class='h4-sub'>Free DMV Practice Tests</p>
        <h5>Web Producer</h5>

        <p class='description'>I <strong>conducted web-based research</strong> for <a href='http://freedmvpracticetests.com/'>Free DMV Practice Tests</a>, locating the most up-to-date driving regulations for each state and updating content and tests on the Drupal-based website.</p>
       </div>

       <div class='content-block' id='work-4'>
        <div class='details'>
         <p class='location'>Ann Arbor, MI</p><p class='date'>September 2014&ndash;April 2015</p>
        </div>
        <h4>University of Michigan</h4>
        <p class='h4-sub'>College of Literature, Sciences, and the Arts</p>
        <h5>Graduate Student Instructor</h5>

        <p class='description'>As part of the cirriculum requirements for HZWP's Master of Fine Arts, I <strong>designed and taught syllabi for two undergraduate courses</strong> in the English Department: <strong>Writing and Academic Inquiry</strong> and <strong>Introduction to Creative Writing</strong>.</p>
       </div>

       <div class='content-block' id='work-5'>
        <div class='details'>
         <p class='location'>Ann Arbor, MI</p><p class='date'>September 2011&ndash;September 2014</p>
        </div>
        <h4>University of Michigan</h4>
        <p class='h4-sub'>Department of Afroamerican and African Studies</p>
        <h5>Office Assistant</h5>

        <p class='description'>As an undergraduate at the University of Michigan, I worked for several years as a work-study in the administrative offices of the Department of Afroamerican and African studies.</p>

        <div class='tab'>
         <input type='checkbox' id='tab6' name='tabs'/>
         <label for='tab6' class='project-details'>Responsibilities</label>
         <div class='tab-content'>
          <ul class='description-list'>
           <li>Managed the front desk</li>
           <li>Answered phones</li>
           <li>Assisted faculty in various activities</li>
           <li>Planned and executed student events</li>
           <li>Digitized students' historical course and teacher evaluations</li>
           <li>Assisted in creating a physical library for the department</li>
          </ul>
         </div>
        </div>
       </div>

       <div class='content-block' id='work-6'>
        <div class='details'>
         <p class='location'>Ann Arbor, MI</p><p class='date'>February 2006&ndash;January 2011</p>
        </div>
        <h4>AutoKnowledge</h4>
        <h5>Research Analyst & Web Producer</h5>

        <p class='description'>Originally hired to conduct market research and produce content for a <a href='https://autoknowledge.com/index.php/products/vic'>database-driven web platform</a>, over the course of five years my responsibilities grew to include much more before I left the company to pursue my BA at the University of Michigan.</p>

        <div class='tab'>
         <input type='checkbox' id='tab7' name='tabs'/>
         <label for='tab7' class='project-details'>Responsibilities</label>
         <div class='tab-content'>
          <ul class='description-list'>
           <li>Produced, edited, and updated content in a proprietary content management system</li>
           <li>Assisted development lead with user experience and graphic design</li>
           <li>Created and maintained Joomla-based website</li>
           <li>Created documentation, including training manuals, for internal processes</li>
           <li>Maintained Excel-based priority list</li>
           <li>Managed online help desk</li>
           <li>Assigned and coordinated work between international offices</li>
           <li>Trained new employees</li>
           <li>Maintained office hardware and software</li>
           <li>Photography</li>
          </ul>
         </div>
        </div>
       </div>

       <div class='content-block' id='work-7'>
        <div class='details'>
         <p class='location'>Ann Arbor, MI</p><p class='date'>September 2010&ndash;January 2011</p>
        </div>
        <h4>Medical Imaging Resources</h4>
        <h5>Salesforce Database Assistant</h5>
        <p class='description'>I <strong>performed data entry, managed back-end modifications, and initiated a plan to clean up a Salesforce database</strong> before I left the company to pursue my BA at the University of Michigan.</p>
       </div>

       <div class='content-block' id='work-8'>
        <div class='details'>
         <p class='location'>Ann Arbor, MI</p><p class='date'>November 2008&ndash;August 2009</p>
        </div>
        <h4>Automobile Magazine</h4>
        <p class='h4-sub'>Source Interlink Media</p>
        <h5>Research Analyst & Web Producer</h5>

        <p class='description'>I <strong>produced, edited, and updated <a href='https://www.automobilemag.com/author/joshua-duval/'>news content</a></strong> for Automobile Magazine's Drupal-based website.</p>
       </div>
      </div>
     </section>