					<section id='work' class="slideshow">
						<ul class="section-links">
							<li><h3 class="sub" onclick="currentDiv(1,1)">Work History</h3></li>
							<li><span class="sub" onclick="currentDiv(2,1)">UMSI</span></li>
							<li><span class="sub" onclick="currentDiv(3,1)">Michigan Radio</span></li>
							<li><span class="sub" onclick="currentDiv(4,1)">Mixed Bin Media</span></li>
							<li><span class="sub" onclick="currentDiv(5,1)">LSA</span></li>
							<li><span class="sub" onclick="currentDiv(6,1)">DAAS</span></li>
							<li><span class="sub" onclick="currentDiv(7,1)">AutoKnowledge</span></li>
							<li><span class="sub" onclick="currentDiv(8,1)">MIR</span></li>
							<li><span class="sub" onclick="currentDiv(9,1)">Automobile Magazine</span></li>
						</ul>

						<div class='section-content'>
							<div class='section-header slide' id='work-1'>
								<table class='summary'>
									<tr>
										<td>
											<span>May 2018&mdash;<br />Current</span>
										</td>
										<td>
											<span>Client Recruiter</span>
											<span after='School of Information'>University of Michigan</span>
										</td>
									</tr>

									<tr>
										<td>
											<span>May 2018&mdash;<br />Oct 2018</span>
										</td>
										<td>
											<span>Digital Media Assistant</span>
											<span>Michigan Radio</span>
										</td>
									</tr>

									<tr>
										<td>
											<span>Apr 2016&mdash;<br />Apr 2018</span>
										</td>
										<td>
											<span>Web Producer</span>
											<span after='Free DMV Practice Tests'>Mixed Bin Media</span>
										</td>
									</tr>

									<tr>
										<td>
											<span>Sep 2014&mdash;<br />Apr 2015</span>
										</td>
										<td>
											<span>Graduate Student Instructor</span>
											<span after='College of Literature, Science, and the Arts'>University of Michigan</span>
										</td>
									</tr>

									<tr>
										<td>
											<span>Sep 2011&mdash;<br />Sep 2014</span>
										</td>
										<td>
											<span>Office Assistant</span>
											<span after='Department of Afroamerican and African Studies'>University of Michigan</span>
										</td>
									</tr>

									<tr>
										<td>
											<span>Feb 2006&mdash;<br />Jan 2011</span>
										</td>
										<td>
											<span>Research Analyst & Web Producer</span>
											<span>AutoKnowledge</span>
										</td>
									</tr>

									<tr>
										<td>
											<span>Sep 2010&mdash;<br />Jan 2011</span>
										</td>
										<td>
											<span>Salesforce Database Assistant</span>
											<span>Medical Imaging Resources</span>
										</td>
									</tr>

									<tr>
										<td>
											<span>Nov 2008&mdash;<br />Aug 2009</span>
										</td>
										<td>
											<span>Web Producer</span>
											<span after='Source Interlink Media'>Automobile Magazine</span>
										</td>
									</tr>
									</table>
							</div>

							<div class='content-block slide' id='work-2'>
								<h4 after='School of Information'>University of Michigan</h4>
								<h5>Client Recruiter</h5>

								<p>Working inside UMSI's <a href='https://www.si.umich.edu/programs/professional-and-community-engagement' target='_blank'>Office of Professional and Community Engagement</a>, I'm part of a small team which designs and executes recruitment campaigns soliciting projects addressing information problems from a variety of organizations. In my time in this role, I have <strong>recruited over 600 projects</strong> for UMSI's client-based courses.</p>

								<div class='tab'>
									<input type='checkbox' id='tab4' name='tabs'/>
									<label for='tab4'>Responsibilities</label>
									<div class='tab-content'>
										<ul class='responsibilities'>
											<li>Adjust project management strategy</li>
											<li>Manage client lists</li>
											<li>Exploratory conversations with potential clients</li>
											<li>Develop project ideas with potential clients</li>
											<li>Review project proposals and scope projects with potential clients</li>
											<li>Track clients and projects through registration, submission, selection, and beyond</li>
											<li>Maintain and update <a href='https://sites.google.com/umich.edu/umsiclientopportunities/home'>informational website</a></li>
											<li>Interview faculty for client and project preferences</li>
											<li>Create documentation for processes</li>
											<li>Migrate processes to Airtable</li>
										</ul>
									</div>
								</div>
							</div>

							<div class='content-block slide' id='work-2'>
								<h4 after='Regents of the University of Michigan'>Michigan Radio</h4>
								<h5>Digital Media Assistant (Internship)</h5>

								<p>In order to fulfill the curriculum requirements of UMSI's Master of Science in Information, I <strong>completed a 300-hour internship</strong> as part of Michigan Radio's digital media team.</p>

								<div class='tab'>
									<input type='checkbox' id='tab5' name='tabs'/>
									<label for='tab5'>Responsibilities</label>
									<div class='tab-content'>
										<ul class='responsibilities'>
											<li>Researched and wrote <a href='http://www.michiganradio.org/people/jd-duval'>stories</a> for <a href='http://www.michiganradio.org/'>Drupal-based website</a></li>
											<li>Posted content to Facebook and Instagram channels</li>
											<li>Reported Facebook and site traffic analytics with management</li>
											<li>Researched, suggested, and trialed social media dashboard</li>
											<li>Updated Wordpress-based <a href='http://media.michiganradio.org/'>staff bio site</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class='content-block slide' id='work-3'>
								<h4 after='Free DMV Practice Tests'>Mixed Bin Media</h4>
								<h5>Web Producer</h5>

								<p>I <strong>conducted web-based research</strong> for <a href='http://freedmvpracticetests.com/' target='_blank'>Free DMV Practice Tests</a>, locating the most up-to-date driving regulations for each state and updating content and tests on the Drupal-based website.</p>
							</div>

							<div class='content-block slide' id='work-4'>
								<h4 after='College of Literature, Sciences, and the Arts'>University of Michigan</h4>
								<h5>Graduate Student Instructor</h5>

								<p>As part of the cirriculum requirements for HZWP's Master of Fine Arts, I <strong>designed and taught syllabi for two undergraduate courses</strong> in the English Department: <strong>Writing and Academic Inquiry</strong> and <strong>Introduction to Creative Writing</strong>.</p>
							</div>

							<div class='content-block slide' id='work-5'>
								<h4 after='Department of Afroamerican and African Studies'>University of Michigan</h4>
								<h5>Office Assistant</h5>

								<p>As an undergraduate at the University of Michigan, I worked for several years as a work-study in the administrative offices of the Department of Afroamerican and African studies.</p>

								<div class='tab'>
									<input type='checkbox' id='tab6' name='tabs'/>
									<label for='tab6'>Responsibilities</label>
									<div class='tab-content'>
										<ul class='responsibilities'>
											<li>Managed the front desk</li>
											<li>Answered phones</li>
											<li>Assisted faculty in various activities</li>
											<li>Planned and executed student events</li>
											<li>Digitized students' historical course and teacher evaluations</li>
											<li>Assisted in creating a physical library for the department</li>
										</ul>
									</div>
								</div>
							</div>

							<div class='content-block slide' id='work-6'>
								<h4>AutoKnowledge</h4>
								<h5>Research Analyst & Web Producer</h5>

								<p>Originally hired to conduct market research and produce content for a <a href='https://autoknowledge.com/index.php/products/vic' target='_blank'>database-driven web platform</a>, over the course of five years my responsibilities grew to include much more before I left the company to pursue my BA at the University of Michigan.</p>

								<div class='tab'>
									<input type='checkbox' id='tab7' name='tabs'/>
									<label for='tab7'>Responsibilities</label>
									<div class='tab-content'>
										<ul class='responsibilities'>
											<li>Produced, edited, and updated content in a proprietary content management system</li>
											<li>Assisted development lead with user experience and graphic design</li>
											<li>Created and maintained Joomla-based website</li>
											<li>Created documentation, including training manuals, for internal processes</li>
											<li>Maintained Excel-based priority list</li>
											<li>Managed online help desk</li>
											<li>Assigned and coordinated work between international offices</li>
											<li>Trained new employees</li>
											<li>Maintained office hardware and software</li>
											<li>Photography</li>
										</ul>
									</div>
								</div>
							</div>

							<div class='content-block slide' id='work-7'>
								<h4>Medical Imaging Resources</h4>
								<h5>Salesforce Database Assistant</h5>
								<p>I <strong>performed data entry, managed back-end modifications, and initiated a plan to clean up a Salesforce database</strong> before I left the company to pursue my BA at the University of Michigan.</p>
							</div>

							<div class='content-block slide' id='work-8'>
								<h4 after='Source Interlink Media'>Automobile Magazine</h4>
								<h5>Research Analyst & Web Producer</h5>

								<p>I <strong>produced, edited, and updated <a href='https://www.automobilemag.com/author/joshua-duval/' target='_blank'>news content</a></strong> for Automobile Magazine's Drupal-based website.</p>
							</div>
						</div>
					</section>